<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    
  </head>
  <body>
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#dropdown-menu" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Plan a trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./search">Get a Aplicação plan</a>
                        <a class="dropdown-item" href="./create-plan">Create your plan manually</a>
                    </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-restaurants"><i class="fas fa-utensils" style="padding-right: 5px;"></i>Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="email " placeholder="Email" aria-label="Email">
                    <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="text-left">
                                <h3 id="place_name"><b></b></h3><h8 id="place_name"></h8>                      
                            </div>
                        </div>

                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>  
            

            <div class="cont">
                <div class="card card-body" style="height: 70px;">
                    <div class="row" >
                        <div class="col-md-2">
                            <div class="text-center">
                                <button class="change-plan-day-btn" ><i class="fas fa-arrow-alt-circle-left fa-lg"></i></button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-center">
                                <h5 id="visit-day" style="font-weight: bold;"></h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center">
                                <button class="change-plan-day-btn" ><i class="fas fa-arrow-alt-circle-right fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cont">
                    <table class="table table-striped table-bordered" id="calendar-table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Monday, 25 Feb</th>
                                <th scope="col">Tuesday, 26 Feb</th>
                                <th scope="col">Wednesday, 27 Feb</th>
                                <th scope="col">Thursday, 28 Feb</th>
                                <th scope="col">Friday, 1 Mar</th>
                                <th scope="col">Saturday, 2 Mar</th>
                                <th scope="col">Sunday, 3 Mar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">9h00</th>
                            </tr>
                            <tr>
                                <th scope="row">10h00</th>
                                <td rowspan="3">Museu de Aveiro</td>
                            </tr>
                            <tr>
                                <th scope="row">11h00</th>
                            </tr>
                            <tr>
                                <th scope="row">12h00</th>
                            </tr>
                            <tr>
                                <th scope="row">13h00</th>
                            </tr>
                            <tr>
                                <th scope="row">14h00</th>
                            </tr>
                            <tr>
                                <th scope="row">15h00</th>
                            </tr>
                            <tr>
                                <th scope="row">16h00</th>
                            </tr>
                            <tr>
                                <th scope="row">17h00</th>
                            </tr>
                            <tr>
                                <th scope="row">18h00</th>
                            </tr>
                            <tr>
                                <th scope="row">19h00</th>
                            </tr>
                            <tr>
                                <th scope="row">20h00</th>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <br><br>

            


        </div>

        
        <!-- Info Modal -->
        <div class="modal fade" id="info-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img id="info-modal-img" height="200px;">
                        </div>
                        <br><br>
                        <div id="place-info"> 
                            <ul>
                                <li><strong>City: </strong><p id="modal-info-city"></p></li>
                                <li><strong>Address: </strong><p id="modal-info-addr"></p></li>
                                <li><strong>Coordinates: </strong><p id="modal-info-coord"></p></li>
                                <li><strong>Phone number: </strong><p id="modal-info-phone"></p></li>
                                <li><strong>Website: </strong><br><a id="modal-info-website"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Find out more</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove Modal -->
        <div class="modal fade" id="remove-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete visit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to delete <span id="modal-delete-visit-name" style="font-weight: bold;"></span> from the plan ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="edit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit visit : <span id="modal-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>Edit visit schedule: </b></p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-start-hour">
                                        <option>Begin at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-end-hour">
                                        <option>End at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->

        
   

  </body>
</html>