<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-tinerary</title>
    <link rel="icon" href="img/logo-icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script type="text/javascript" src="js/discover.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
  
  </head>
  <body onload="loadNavbar();" style="background-image: url('/img/home-image-8.jpg');">
      <!-- header navbar -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-transparent bg-dark justify-content-between">
          <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                </li>
              
              <li class="nav-item">
                <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Cities & Places</a>
              </li>
              <li class="nav-item">
                <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                  </a>
                  <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                    <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                    <a class="dropdown-item header" href="./help">Help</a>
                  </div>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li>
                <div id="login-user">
                  <div id="login" style="display: none;">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                  </div>
                  <div id="profile" class="dropleft" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="user-profile-pic" class="rounded-circle border border-light">
                    </a>
                    <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                      <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                      <a class="dropdown-item header" href="./trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                      <a class="dropdown-item header" id="request-poi-btn" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                    </div>   
                  </div>        
                </div>
              </li>
            </ul>
          </div>
      </nav>

      <div class="container-fluid discover-image" >
        <br><br>
        <div class="row" style="padding-top: 150px;">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 home-search">
                <div class="container cont text-center">
                    <h1 style="color: white; font-weight: bold;">Discover the trips shared by our community</h1>
                    <p style="color: #fff; font-size: 23px; opacity: .7"></p>
                </div>


                <div class="row cont">
                  <div class="col-md-2"></div>
                  <div class="col-md-7">
                    <div class="discover-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Search by keywords (ex: culture in Lisbon)" id="query-input">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-success" onclick="search();"><i class="fas fa-search"></i><span style="padding-left: 5px; font-weight: bold;">Search</span></button>
                  </div>
                </div>

                <br><br>

            </div>
            <div class="col-md-2 col-sm-2">
            </div>
        </div>
      </div>



        <div class="container-fluid" style="background-color: #343a40;">

            <div class="cont ">
              <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-11">
                    <% if(query != null) { %>
                      <p style="color: #fff; font-size: 26px; opacity: .7">Results for "<%= query %>":</p>
                    <% }%>
                </div>
              </div>
            </div>


            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">

                    <br><br>

                    <!-- EXPERTS DIV -->
                    
                    <div class="container cont text-center">
                        <h2 style="color: white; font-weight: bold;">Trips made by experts</h2>
                        <p style="color: #fff; font-size: 23px; opacity: .7">Discover the itineraries created by specialists in tourism</p>
                    </div>

                    <% if(expert_trips.length == 0) { %>
                      <br>
                      <div class="text-center" style="margin: auto;">
                          <img src="img/map-marker-cancel.png" style="height: 200px; width: 200px;">
                      </div>
                      <div class="text-center">
                          <p style="color: white; font-size: 26px; font-weight: bold; ">No trips found</p>
                      </div>
                    <% } %>


                    <div class="row">
                      <% expert_trips.forEach(function(trip) { %>
                        <a href="/trip?id=<%= trip.id %>" class="card-home-link">
                        <div class="col-md-3 col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem; height: 400px;">
                              <img class="card-img-top cities-imgs" src="img/trips/<%= trip.photo %>">
                              <p class="card-text" style="overflow:unset"><i style="padding-left: 0.75rem; color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                              
                              <div class="card-body" style="padding-top: 0;">
                                  <h5 class="card-title"><b><%= trip.city %></b></h5>
                                  <p class="card-text" style="padding-top: 10px; height: 67.2px; font-size: 14px;"><%= trip.description %></p>

                                  <div class="row">
                                    <div class="col-md-5">
                                        <div class="text-left">
                                            <i class="fas fa-star"></i><span style="padding-left: 5px;"><%= trip.rating %> / 5.0</span>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="text-right">
                                            <span id="viewers"><%= trip.num_trips %></span><i style="padding-left: 5px;" class="fas fa-retweet"></i>
                                            <span id="viewers" style="padding-left: 10px;"><%= trip.num_viewers %></span><i style="padding-left: 5px;" class="fas fa-eye"></i>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                        </a>
                      <% }); %>

                    </div>

                    <br><br>


                    <!-- POPULAR DIV -->

                    <hr class="hr-home">
                    
                    <div class="container cont text-center">
                        <h2 style="color: white; font-weight: bold;">Most popular trips</h2>
                      <p style="color: #fff; font-size: 23px; opacity: .7">Discover the itineraries shared by our users</p>
                    </div>

                    <% if(trips.length == 0) { %>
                      <br>
                      <div class="text-center" style="margin: auto;">
                          <img src="img/map-marker-cancel.png" style="height: 200px; width: 200px;">
                      </div>
                      <div class="text-center">
                          <p style="color: white; font-size: 26px; font-weight: bold; ">No trips found</p>
                      </div>
                    <% } %>


                    <div class="row">

                      <% trips.forEach(function(trip) { %> 

                        <a href="/trip?id=<%= trip.id %>" class="card-home-link">
                        <div class="col-md-3 col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem; height: 400px;">
                              <img class="card-img-top cities-imgs" src="img/trips/<%= trip.photo %>">
                              <% if(trip.isPremium == 1) { %>
                                <p class="card-text" style="overflow:unset"><i style="padding-left: 0.75rem; color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                              <% } else { %>
                                <p class="card-text" style="overflow:unset"><small class="text-muted" style="font-weight: 0.6; padding-left: 1.25rem">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                              <% } %>
                          
                              <div class="card-body" style="padding-top: 0;">
                                  <h5 class="card-title"><b><%= trip.city %></b></h5>
                                  <p class="card-text" style="padding-top: 10px; height: 67.2px;"><%= trip.description %></p>

                                  <div class="row">
                                    <div class="col-md-5">
                                        <div class="text-left">
                                            <i class="fas fa-star"></i><span style="padding-left: 5px;"><%= trip.rating %> / 5.0</span>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="text-right">
                                            <span id="viewers"><%= trip.num_trips %></span><i style="padding-left: 5px;" class="fas fa-retweet"></i>
                                            <span id="viewers" style="padding-left: 10px;"><%= trip.num_viewers %></span><i style="padding-left: 5px;" class="fas fa-eye"></i>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                        </a>

                      <% }); %>

                    </div>

                    <br><br>


                    <!-- CATEGORY DIV -->

                    <hr class="hr-home">
                    
                    <div class="container cont text-center">
                        <h2 style="color: white; font-weight: bold;">Categories</h2>
                    </div>

                    <br>

                    <div class="container-fluid cont">
                        <p style="color: #fff; font-size: 26px; opacity: .7"><i class="fas fa-leaf"></i><span style="padding-left: 15px;">Nature</span></p>                  
                        <hr class="hr-categories text-left">
                    </div>

                    <% if(nature_trips.length == 0) { %>
                      <br>
                      <div class="text-center" style="margin: auto;">
                          <img src="img/map-marker-cancel.png" style="height: 200px; width: 200px;">
                      </div>
                      <div class="text-center">
                          <p style="color: white; font-size: 26px; font-weight: bold; ">No trips found</p>
                      </div>
                    <% } %>
                    
                    <div class="row">
                        <% nature_trips.forEach(function(trip) { %> 
                          <a href="/trip?id=<%= trip.id %>" class="card-home-link">
                          <div class="col-md-3 col-sm-12 cont">
                              <div class="card card-home" style="width: 18rem; height: 400px;">
                                <img class="card-img-top cities-imgs" src="img/trips/<%= trip.photo %>">
                                <% if(trip.isPremium == 1) { %>
                                  <p class="card-text" style="overflow:unset"><i style="padding-left: 0.75rem; color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } else { %>
                                  <p class="card-text" style="overflow:unset"><small class="text-muted" style="font-weight: 0.6; padding-left: 1.25rem">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } %>
                            
                                <div class="card-body" style="padding-top: 0;">
                                    <h5 class="card-title"><b><%= trip.city %></b></h5>
                                    <p class="card-text" style="padding-top: 10px; height: 67.2px;"><%= trip.description %></p>
  
                                    <div class="row">
                                      <div class="col-md-5">
                                          <div class="text-left">
                                              <i class="fas fa-star"></i><span style="padding-left: 5px;"><%= trip.rating %> / 5.0</span>
                                          </div>
                                      </div>
  
                                      <div class="col-md-7">
                                          <div class="text-right">
                                              <span id="viewers"><%= trip.num_trips %></span><i style="padding-left: 5px;" class="fas fa-retweet"></i>
                                              <span id="viewers" style="padding-left: 10px;"><%= trip.num_viewers %></span><i style="padding-left: 5px;" class="fas fa-eye"></i>
                                          </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                              </div>
                          </div>
                          </a>
                        <% }); %>
  
                      </div>

                      <br><br>

                    <div class="container-fluid cont">
                        <p style="color: #fff; font-size: 26px; opacity: .7"><i class="fas fa-chess-rook"></i><span style="padding-left: 15px;">History</span></p> 
                        <hr class="hr-categories text-left">
                    </div>

                    <% if(history_trips.length == 0) { %>
                      <br>
                      <div class="text-center" style="margin: auto;">
                          <img src="img/map-marker-cancel.png" style="height: 200px; width: 200px;">
                      </div>
                      <div class="text-center">
                          <p style="color: white; font-size: 26px; font-weight: bold; ">No trips found</p>
                      </div>
                    <% } %>

                    <div class="row">
                        <% history_trips.forEach(function(trip) { %> 
                          <a href="/trip?id=<%= trip.id %>" class="card-home-link">
                          <div class="col-md-3 col-sm-12 cont">
                              <div class="card card-home" style="width: 18rem; height: 400px;">
                                <img class="card-img-top cities-imgs" src="img/trips/<%= trip.photo %>">
                                <% if(trip.isPremium == 1) { %>
                                  <p class="card-text" style="overflow:unset"><i style="padding-left: 0.75rem; color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } else { %>
                                  <p class="card-text" style="overflow:unset"><small class="text-muted" style="font-weight: 0.6; padding-left: 1.25rem">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } %>
                            
                                <div class="card-body" style="padding-top: 0;">
                                    <h5 class="card-title"><b><%= trip.city %></b></h5>
                                    <p class="card-text" style="padding-top: 10px; height: 67.2px;"><%= trip.description %></p>
  
                                    <div class="row">
                                      <div class="col-md-5">
                                          <div class="text-left">
                                              <i class="fas fa-star"></i><span style="padding-left: 5px;"><%= trip.rating %> / 5.0</span>
                                          </div>
                                      </div>
  
                                      <div class="col-md-7">
                                          <div class="text-right">
                                              <span id="viewers"><%= trip.num_trips %></span><i style="padding-left: 5px;" class="fas fa-retweet"></i>
                                              <span id="viewers" style="padding-left: 10px;"><%= trip.num_viewers %></span><i style="padding-left: 5px;" class="fas fa-eye"></i>
                                          </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                              </div>
                          </div>
                          </a>
                        <% }); %>
  
                      </div>

                      <br><br>

                    <div class="container-fluid cont">
                        <p style="color: #fff; font-size: 26px; opacity: .7"><i class="fas fa-landmark"></i><span style="padding-left: 15px;">Culture</span></p> 
                        <hr class="hr-categories text-left">
                    </div>  

                    <% if(culture_trips.length == 0) { %>
                      <br>
                      <div class="text-center" style="margin: auto;">
                          <img src="img/map-marker-cancel.png" style="height: 200px; width: 200px;">
                      </div>
                      <div class="text-center">
                          <p style="color: white; font-size: 26px; font-weight: bold; ">No trips found</p>
                      </div>
                    <% } %>

                    <div class="row">

                        <% culture_trips.forEach(function(trip) { %> 
                          <a href="/trip?id=<%= trip.id %>" class="card-home-link">
                          <div class="col-md-3 col-sm-12 cont">
                              <div class="card card-home" style="width: 18rem; height: 400px;">
                                <img class="card-img-top cities-imgs" src="img/trips/<%= trip.photo %>">
                                <% if(trip.isPremium == 1) { %>
                                  <p class="card-text" style="overflow:unset"><i style="padding-left: 0.75rem; color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } else { %>
                                  <p class="card-text" style="overflow:unset"><small class="text-muted" style="font-weight: 0.6; padding-left: 1.25rem">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                <% } %>
                            
                                <div class="card-body" style="padding-top: 0;">
                                    <h5 class="card-title"><b><%= trip.city %></b></h5>
                                    <p class="card-text" style="padding-top: 10px; height: 67.2px;"><%= trip.description %></p>
  
                                    <div class="row">
                                      <div class="col-md-5">
                                          <div class="text-left">
                                              <i class="fas fa-star"></i><span style="padding-left: 5px;"><%= trip.rating %> / 5.0</span>
                                          </div>
                                      </div>
  
                                      <div class="col-md-7">
                                          <div class="text-right">
                                              <span id="viewers"><%= trip.num_trips %></span><i style="padding-left: 5px;" class="fas fa-retweet"></i>
                                              <span id="viewers" style="padding-left: 10px;"><%= trip.num_viewers %></span><i style="padding-left: 5px;" class="fas fa-eye"></i>
                                          </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                              </div>
                          </div>
                          </a>
                        <% }); %>
  
                      </div>

                      <br><br>

                  </div>

                  <div class="col-md-1 col-sm-1"></div>

            </div>

            <br><br><br>

        </div>


        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content" style="width: 400px;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <img id="profile-img" class="profile-img-card" src="img/login.png" />
                    <form class="form-signin">
                      <span id="reauth-email"></span>
                      <div class="alert alert-danger" id="login-error" role="alert" style="display: none;">
                          <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">The email or password is incorrect</span>
                      </div>
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox" id="remember">
                                <input type="checkbox" class="custom-control-input" id="remember-me">
                                <label class="custom-control-label" for="remember-me">Remember me</label>
                            </div>
                          </div>
                          <div class="col-md-6 text-right">
                              <a href="/recover" class="forgot-password">
                                  Forgot the password?
                              </a>
                          </div>
                      </div>
                      <br>
                      <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                          <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                      <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                  
                    </form>
                    

                    <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">or</span>
                    </div>

                    <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                    <br><br>
                                
                    <div id="customBtn">
                        <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                    </div>

                  </div>
                  <div class="modal-footer">
                  </div>
              </div>
          </div>
        </div>
 


        <!-- Footer -->
      <footer class="footer">
        <!-- Footer Elements -->
        <div class="container cont">
          <div class="row">
            <div class="col-md-4">
                <img src="img/logo-2.png">
                <br><br>
                <p><a class="footer-links" href="/about-us">About us</a></p>
                <p><a class="footer-links" href="/help">Help</a></p>
                <br><br>
            </div>
            <div class="col-md-4">
              <br>
              <h5><strong>Contacts</strong></h5>
              <p class="footer-text"><i class="fas fa-map-marker-alt"></i><span style="padding-left: 10px;">Universidade de Aveiro, Portugal</span></p>
              <p class="footer-text"><i class="fas fa-envelope"></i><span style="padding-left: 10px;">etinerary@gmail.com</span></p>
              <p class="footer-text"><i class="fas fa-phone"></i><span style="padding-left: 10px;">234 234 234</span></p>
            </div>
            <div class="col-md-4">
                <br>
                <h5><strong>Social Media</strong></h5>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#" ></a>
                    <a class="twitterBtn smGlobalBtn" href="#" ></a>
                    <a class="instagramBtn smGlobalBtn" href="#" ></a>
                </div>
            </div>

          </div>
          <br><br>
        </div>

          <!-- Footer Elements -->
      
          <!-- Copyright -->
          <div class="footer-copyright">
            <span class="footer-text">&copy;2019 </span><a class="footer-links" href="/">E-tinerary&trade;</a><span class="footer-text">. All rights reserved</span>
          </div>

      </footer>
      <!-- Footer -->


  
    <!-- Scripts -->
    <script>startGoogleSignIn();</script>
    

  </body>
</html>