<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="Nome da aplicação">
      <meta name="author" content="Eduardo Silva">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <title>Simple Map</title>
  
    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">

      
    <!-- Scripts -->
    
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/map-font-icons.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcM_AepOJRN1QIx96d2n0FOfOcGfZYfck&libraries=places"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    
  </head>
  <body onload="initMap('<%= city %>')">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                
                  <li class="nav-item">
                    <a class="nav-link" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                  </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                      <a class="dropdown-item" href="./about-us">Aplicacao</a>
                      <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                  <div id="login-user">
                    <div id="login" style="display: none;">
                      <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                      <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img id="user-profile-pic">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item" id="profile-trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                      </div>   
                    </div>        
                  </div>
                </li>
              </ul>
            </div>
        </nav>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="text-right" style="background-color: #343a40; border-top: 1px solid #f1f1f1">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            
            <br>

            <div id="sidebar-1" >
                <div class="row" style="width: 98%; margin: auto auto auto auto;">
                    <div class="card card-body" style="height: 400px;">
                        <span><h3 style="font-weight: bold; color: black; text-align: center;"><%= city %></h3></span>
                        <img style="width: 100%; height: 300px;" id="city-img">
                    </div>
                </div>
                <script>
                    loadCityImage('<%= city %>');
                </script>

                <div class="row cont" style="width: 98%; margin: auto auto auto auto;">
                    <div class="card card-body">
                        <p><i class="fas fa-calendar-alt"></i><span style="font-weight: bold; padding-left: 10px;">Arrival: </span> <%= start_date %></p>
                        <p><i class="fas fa-calendar-alt"></i><span style="font-weight: bold; padding-left: 10px;">Departure: </span> <%= end_date %></p>
                    </div>
                </div>

                <div class="row cont" style="width: 98%; margin: auto auto auto auto;">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button class="change-view" onclick="changeView('normal');"><img class="img-responsive change-view-img" src="img/view-normal.jpg" /></button>
                                <br>
                                <button class="change-view" onclick="changeView('normal');">Plan & Map view</button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="change-view" onclick="changeView('full');"><img class="img-responsive change-view-img" src="img/view-full.jpg" /></button>
                                <br>
                                <button class="change-view" onclick="changeView('full');">Plan view only</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div id="sidebar-2" style="display: none">
                <div class="row" style="width: 98%; margin: auto auto auto auto;">
                    <div class="card card-body" style="height: 400px;">
                        <span><h3 id="poi-name" style="font-weight: bold; color: black; text-align: center;"></h3></span>
                        <img style="width: 100%; height: 300px;" id="image_poi">
                    </div>
                </div>

                
                <div class="cont text-center form-group" id="add-remove-btn">
                <!-- <button class="btn btn-success"><i class="far fa-calendar-alt"></i><span style="padding-left: 10px;">Add to the trip</span></button>-->
                    <button class="btn btn-success" onclick="backToPlan();"><i class="fas fa-undo-alt"></i><span style="padding-left: 10px;">Back to plan</span></button>
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i><span style="padding-left: 10px;">Remove from plan</span></button>
                </div>


                <div class="row cont" style="width: 98%; margin: auto auto;">
                    <div class="card card-body" id="poi-info">
                        <h6 class="card-title">General Information</h6>
                        <span ><i class="fas fa-map-marker-alt"></i><span id="poi-address" style="padding-left: 10px;"></span></span>
                        <span style="padding-top: 10px;"><i class="fas fa-globe-europe"></i><span id="poi-website" style="padding-left: 10px;"></span></span>
                        <span style="padding-top: 10px;"><i class="fas fa-phone"></i><span id="poi-phone-number" style="padding-left: 10px;"></span></span>
                        <span style="padding-top: 10px;"><i class="fas fa-star"></i><span id="poi-rating" style="padding-left: 10px;"></span></span>
                    </div>
                </div>

                <div class="row cont" style="width: 98%; margin: auto auto;">
                    <div class="card card-body" id="poi-opening-hours">
                        <h6 class="card-title">Opening hours</h6>
                        <table class="table table-striped display" id="table-opening-hours" cellspacing="0" width="100%">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </nav>


        </nav>

        
        <div id="full-map"></div>

        
        
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 400px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <img id="profile-img" class="profile-img-card" src="img/login.png" />
                      <form class="form-signin">
                        <span id="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="custom-control custom-checkbox" id="remember">
                                  <input type="checkbox" class="custom-control-input" id="remember-me">
                                  <label class="custom-control-label" for="remember-me">Remember me</label>
                              </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/recover" class="forgot-password">
                                    Forgot the password?
                                </a>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                            <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                        <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                    
                      </form>
                      
  
                      <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                      </div>
  
                      <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                      <br><br>
                                  
                      <div id="customBtn">
                          <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                      </div>
  
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer -->
    <footer class="footer">
        <!-- Footer Elements -->

        <div id="social">
            <a class="facebookBtn smGlobalBtn" href="#" ></a>
            <a class="twitterBtn smGlobalBtn" href="#" ></a>
            <a class="googleplusBtn smGlobalBtn" href="#" ></a>
            <a class="linkedinBtn smGlobalBtn" href="#" ></a>
            <a class="instagramBtn smGlobalBtn" href="#" ></a>
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright"> 2019 Copyright:
            <a href="">&copy; Aplicacao, todos os direitos reservados</a>
        </div>

    </footer>
    <!-- Footer -->

    <!-- Scripts -->
    
    <script>startGoogleSignIn();</script>
    <script>
        var plan = [];
        
        '<% plan.forEach(function(visit) { %>'
            plan.push('<%- JSON.stringify(visit) %>');

        '<% }); %>'

        loadPlan(plan, '<%= days %>');
    
    </script>
        
        
  </body>
</html>