<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/place.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcM_AepOJRN1QIx96d2n0FOfOcGfZYfck&libraries=places"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    
  </head>
  <body>
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#dropdown-menu" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Plan a trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./search">Get a Aplicação plan</a>
                        <a class="dropdown-item" href="./create-plan">Create your plan manually</a>
                    </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-restaurants"><i class="fas fa-utensils" style="padding-right: 5px;"></i>Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="email " placeholder="Email" aria-label="Email">
                    <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="text-center">
                        <h3 id="place_name"><b><%= place %></b></h3>
                    </div>
                </div>
            </div>

            <div class="row cont">
                <div class="col-md-3">
                    <p><i class="fas fa-star"></i><span style="font-weight: bold; padding-left: 10px;">Rating: </span><span id="rating"> <%= rating %> / 5.0</span></p>                  
                </div> 
                <div class="col-md-3">
                    <p><i id="place_icon" class="fas fa-archway"></i><span style="font-weight: bold; padding-left: 10px;" id="type"><%= type %></span></p>                  
                </div>
                <div class="col-md-6 text-md-right ">
                    <p><i class="fas fa-map-marker-alt"></i><span style="font-weight: bold; padding-left: 10px;" id="address"><%= address %></span></p>                  
                </div> 
            </div>
            <script>
                loadIcon('<%= type %>');
            </script>

            <div class="row cont">
                <div class="col-md-8">
                    <div class="card">
                        <img id="place-image" class="card-img-top">
                    </div>

                    <br>
                    
                    <div class="card" >
                        <div class="card-body" id="place-description">
                            <p class="card-text"><%= description %></p>
                            <div class="text-right">
                                <p><i class="fab fa-wikipedia-w" style="padding-left: 10px;"></i></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <% if(fromPlan == true) { %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-left">
                                <button class="btn btn-primary" onclick="window.history.back();"><i class="fas fa-undo"></i><span style="padding-left: 10px;">Back to the plan</span></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <% if(inPlan == false) { %>
                                    <button class="btn btn-success btn-add-visit-modal" data-toggle="modal" data-target="#add-visit-modal" data-title="<%= place %>"><i class="far fa-calendar-alt"></i><span style="padding-left: 10px;">Add to your trip</span></button>
                                <% } else { %>
                                    <button type="button" style="background-color: #dcf2e2; color: black;" class="btn btn-success" disabled><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Already in trip</span></button>
                                <% } %>                    
                            </div>
                        </div>
                    </div>
                    <br>
                    <% } %>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Opening hours</h6>
                            <table class="table table-striped display" id="table-opening-hours" cellspacing="0" width="100%">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-phone"></i><span id="place-phone-number" style="padding-left: 10px;"><%= phone_number %></span></p>
                            <p class="card-text"><i class="fas fa-globe-europe"></i><a id="place-website" style="padding-left: 10px; text-decoration: none;" href="<%= website %>" target="_blank"><%= website %></a></p>
                            <p class="card-text"><span style="font-weight: bold;" >Coordinates: </span><span id="place-coordinates"><%= lat %>, <%= lon %></span></p>
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div id="place-map" class="map">
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <!-- Add Visit Modal -->
        <div class="modal fade" id="add-visit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add <span id="modal-title" style="font-weight: bold;"></span> to the plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="radio-choose-schedule-auto" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="radio-choose-schedule-auto">Let us choose the schedule</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="radio-choose-schedule-man" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="radio-choose-schedule-man">Choose the schedule</label>
                        </div>

                        <br>

                        <div class="dr" id="choose-schedule-man">

                            <p><b>Choose visit schedule: </b></p>
                            

                            <div class="form-group">
                                <select class="form-control" id="visit-day">
                                    <option>Day</option>
                                    
                                    <% days.forEach(function(day) { %>
                                        <option><%= day %></option>
                                    <% }); %>
                                </select>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" id="visit-start-hour">
                                            <option>Begin at</option>
                                            <option>10:00</option>
                                            <option>11:00</option>
                                            <option>12:00</option>
                                            <option>13:00</option>
                                            <option>14:00</option>
                                            <option>15:00</option>
                                            <option>16:00</option>
                                            <option>17:00</option>
                                            <option>18:00</option>
                                            <option>19:00</option>
                                            <option>20:00</option>
                                            <option>21:00</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="visit-end-hour">
                                            <option>End at</option>
                                            <option>10:00</option>
                                            <option>11:00</option>
                                            <option>12:00</option>
                                            <option>13:00</option>
                                            <option>14:00</option>
                                            <option>15:00</option>
                                            <option>16:00</option>
                                            <option>17:00</option>
                                            <option>18:00</option>
                                            <option>19:00</option>
                                            <option>20:00</option>
                                            <option>21:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add</span></button>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br><br>


        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->
        

  
    <!-- Scripts -->
    <script>
        var place_id = "<%= place_id %>";
        getPlaceDetails(place_id);

    </script>
    

  </body>
</html>