<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-tinerary</title>
    <link rel="icon" href="img/logo-icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/place.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    
  </head>
  <body onload="loadNavbar();">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                    </li>
                
                <li class="nav-item">
                    <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Cities & Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item header" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <div id="login-user">
                    <div id="login" style="display: none;">
                        <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-profile-pic" class="rounded-circle border border-light">
                        </a>
                        <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item header" href="./trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <a class="dropdown-item header" id="request-poi-btn" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                        </div>   
                    </div>        
                    </div>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="text-center">
                        <h3 id="place_name"><b><%= place %></b></h3>
                    </div>
                </div>
            </div>
            <script>
                var photos = [];
        
                '<% photos.forEach(function(photo) { %>'
                    photos.push('<%- JSON.stringify(photo) %>');
                '<% }); %>'

                loadPhotos(photos);
            </script>

            <div class="row cont">
                <div class="col-md-4">
                    <p><i class="fab fa-google"></i><span style="font-weight: bold; padding-left: 10px;">Google Rating: </span><span style="color: #ffc107; font-weight: bold; padding-right: 5px;"><%= google_rating %></span><span id="place-google-rating"></span></p>                  
                </div> 
                <script>
                    loadRating("<%= google_rating %>", "place-google-rating");
                </script>

                <div class="col-md-2">
                    <p><i id="place_icon" class="fas fa-archway"></i><span style="font-weight: bold; padding-left: 10px;" id="type"><%= type %></span></p>                  
                </div>
                <div class="col-md-6 text-md-right ">
                    <p><i class="fas fa-map-marker-alt"></i><span style="font-weight: bold; padding-left: 10px;" id="address"><%= address %></span></p>                  
                </div> 
            </div>
            <script>
                loadIcon('<%= type %>');
            </script>

            <div class="row cont">
                <div class="col-md-8">
                    <div class="slideshow-container" id="slideshow-div">

                        <!-- Next and previous buttons -->
                        <button class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</button>
                        <button class="slideshow-next" onclick="plusSlides(1)">&#10095;</button>

                    </div>
                    <br>

                    <!-- The dots/circles -->
                    <div style="text-align:center" id="dots-div">
                    </div>

                    <br>

                    <% if(isUserRegistered == true) { %>
                        <form action="/upload-poi-photo" method="POST" enctype="multipart/form-data">
                            
                            <input type="text" name="poi" value="<%= id %>" style="display: none">

                            <div class="input-photo-container">  
                                <input class="input-photo" id="my-file" type="file" accept="image/*" name="photo" >
                                <label tabindex="0" for="my-file" class="input-photo-trigger"><i class="fas fa-camera"></i><span style="padding-left: 10px;">Upload photo</span></span></label>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="file-return"></p>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-right" id="update-picture-confirm-btn" style="display: none;">
                                        <button type="submit" value="upload" class="btn btn-success"><i class="fas fa-check"></i><span style="padding-left: 10px;">Upload</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                    
                    <br><br><br>

                    <div id="place-description">
                        <h6 class="card-title" style="font-style: italic;"><b>About <%= place %></b></h6>
                        <p class="card-text"><%= description %></p>
                        <% if(isUserPremium == true) { %>
                            <% if(description == "" || description == place) { %>
                                <div class="text-right">
                                    <button class="btn btn-add-description-modal" data-toggle="modal" data-target="#add-description-modal" data-title="<%= place %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add description</span></button>
                                </div>
                            <% } else { %>
                                <div class="text-right">
                                    <button class="btn btn-add-description-modal" data-toggle="modal" data-target="#add-description-modal" data-title="<%= place %>" data-description="<%= description %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Update description</span></button>
                                </div>
                            <% } %>
                            <br>
                        <% } %>
                    </div>

                    <br>
                    
                    <div class="card" id="review-div">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title"><b>User Reviews</b></h5>
                                </div>
                                <% if(isUserRegistered == true) { %>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <button class="btn btn-create-review-modal" data-toggle="modal" data-target="#review-modal" data-title="<%= place %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Make Review</span></button>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <br>

                            <% if(reviews.length == 0) { %>
                                <div class="text-center" style="margin: auto;">
                                    <i class="fas fa-comment-slash fa-3x" style="color: #dddddd;"></i>
                                </div>
                                <div class="card-body text-center empty-review">
                                    <p class="mb-1">No reviews made for <%= place %></p> 
                                    <p class="mb-1" style="font-size: 12px;">Be the first to make one</p>     
                                </div>
                            
                            <% } else { %>

                                <% count = 0 %>
                                <% reviews.forEach(function(review) { %>

                                    <div class="card">
                                        <div class="row">
                                            <div class="col-md-3 text-center" style="margin: auto;">
                                                <img src="<%= review.user_pic %>" class="img-fluid review-img" >
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card-body">
                                                    <div class="text-right">
                                                        <small><%= review.date %></small>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1"><b><%= review.user %></b></h5>
                                                    </div>
                                                    <p class="mb-1"><%= review.text %></p>                                                                        
                                                    
                                                    <div class="text-right" id="review-<%= count %>-rating">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <script>
                                        loadRating("<%= review.rating %>", "review-<%= count %>-rating");
                                    </script>

                                    <% count = count + 1 %>
                                <% }); %>
                            <% } %>
                        
                        </div>
                    </div>

                    <br>

                    <div class="card" id="google-review-div">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title"><img src="/img/google-icon.png" height="50px;"><b>Google Reviews</b></h5>
                                </div>
                            </div>

                            <div id="google-reviews">
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-left">
                                <a class="back-btn" href="javascript:history.back()"><i class="fas fa-undo"></i><span style="padding-left: 10px;">Back</span></a>
                            </div>
                        </div>
                        <% if(fromTrip == true) { %>
                            <div class="col-md-9">
                                <div class="text-right">
                                    <% if(inTrip == false) { %>
                                        <a class="btn-add-visit-modal" data-toggle="modal" data-target="#add-visit-modal" data-title="<%= place %>" data-poi="<%= id %>"><i class="far fa-calendar-alt"></i><span style="padding-left: 10px;">Add to your trip</span></a>
                                    <% } else { %>
                                        <span class="places-poi-in-plan-info"><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Scheduled for <%= schedule %></span></span>
                                    <% } %>                    
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title"><b>Opening hours</b></h6>
                            <span id="no-opening-hours" style="display: none;">No information available</span>
                            <table class="table table-striped display" id="table-opening-hours" cellspacing="0" width="100%">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body place-info">
                            <h6 class="card-title"><b>General Information</b></h6>
                            <table class="table table-info-place">
                                <tbody>
                                    <tr>
                                        <th scope="row"><i class="fas fa-phone" style="color: #1a73e8"></i></th>
                                        <td><span id="place-phone-number"><%= phone_number %></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="fas fa-globe-europe" style="color: #1a73e8"></i></th>
                                        <% if(website == "No information available") { %>
                                            <td><span>No information available</span></p></td>
                                        <% } else { %>
                                            <td><a id="place-website" style="color: black" href="<%= website %>" target="_blank"><%= website %></a></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="fas fa-map-pin" style="color: #1a73e8"></i></th>
                                        <td><span id="place-coordinates"><%= lat %>, <%= lon %></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a class="btn-update-price-modal" data-toggle="modal" data-target="#update-price-modal" data-title="<%= place %>" style="cursor: pointer"><i class="far fa-money-bill-alt" style="color: #1a73e8"></i></a></th>
                                        <td><span id="place-price"><strong>Adults:</strong> <%= price %></span><span style="padding-left: 10px;"><strong>Children:</strong> <%= price_children %></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div id="place-map" class="map">
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title"><b><%= place %></b> in <span class="logo-letters">e &bull; t</span><span class="logo-letters-2">inerary </span><sup id="input-info-popover"><i class="fas fa-info-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Information provided by our users"></i></sup></h6>
                            <br>
                            
                            <p class="card-text"><i class="fas fa-map-marked-alt"></i><strong style="padding-left: 10px;">Trips: </strong><span id="" style="padding-left: 10px;"><%= no_trips %></span></p>
                                               
                            <div class="place-etinerary-div" id="place-rating">
                                <i class="fas fa-star"></i><strong style="padding-left: 10px;">Rating: </strong>
                            </div>
                            <script>
                                loadRating("<%= rating %>", "place-rating");
                            </script>

                            <div class="place-etinerary-div" id="place-accessibility">
                                <i class="fab fa-accessible-icon"></i><strong style="padding-left: 10px;">Accessibility: </strong>
                            </div>
                            <script>
                                loadRating("<%= accessibility %>", "place-accessibility");
                            </script>

                            <div class="place-etinerary-div" id="place-security">
                                <i class="fas fa-lock"></i><strong style="padding-left: 10px;">Security: </strong>
                            </div>
                            <script>
                                loadRating("<%= security %>", "place-security");
                            </script>
                            
                             <p class="card-text"><i class="far fa-clock"></i><strong style="padding-left: 10px;">Estimated visit duration: </strong><span id="" style="padding-left: 10px;"></span><%= duration %></p>
                            
                        </div>
                    </div>



                </div>
            </div>


        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 400px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="profile-img" class="profile-img-card" src="img/login.png" />
                        <form class="form-signin">
                        <span id="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox" id="remember">
                                    <input type="checkbox" class="custom-control-input" id="remember-me">
                                    <label class="custom-control-label" for="remember-me">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/recover" class="forgot-password">
                                    Forgot the password?
                                </a>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                            <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                        <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                    
                        </form>
                        
    
                        <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                        </div>
    
                        <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                        <br><br>
                                    
                        <div id="customBtn">
                            <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                        </div>
    
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

        <!-- Add Visit Modal -->
        <div class="modal fade" id="add-visit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add <span id="modal-title" style="font-weight: bold;"></span> to the trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="add-visit-error" role="alert" style="display: none;">
                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;" id="add-visit-error-msg"></span>
                        </div>

                        <% if(fromTrip && isManual == 0) { %> 

                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-choose-schedule-auto" name="customRadio" class="custom-control-input" checked>
                                <label class="custom-control-label" for="radio-choose-schedule-auto">Let us choose the schedule</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-choose-schedule-man" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-choose-schedule-man">Choose the schedule</label>
                            </div>

                            <br>

                            <div class="dr" id="choose-schedule-man">

                                <p><b>Choose visit schedule: </b></p>
                                
                                <% if(fromTrip) { %>
                                    <div class="form-group">
                                        <div id="schedule-error" class="alert alert-danger text-center" role="alert" style="display: none;">
                                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">Please choose a day and a hour for the visit</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control" id="visit-day">
                                                    <option value="null">Day</option>

                                                    <% days.forEach(function(day) { %>
                                                        <option value='<%= day %>'><%= day %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="visit-start-hour">
                                                    <option value="null">Begin at</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>

                                <!--
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-start-hour">
                                                <option>Begin at</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-end-hour">
                                                <option>End at</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        <% } %>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" class="btn btn-success" id="confirm-add-visit-btn"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Review Modal -->
        <div class="modal fade" id="review-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create review for <span id="modal-review-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <nav class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
                            <a class="flex-sm-fill text-sm-center nav-link tab active" id="pills-review-info-tab" data-toggle="pill" href="#" role="tab" aria-controls="review-trip-general-info" aria-selected="true">Review</a>
                            <a class="flex-sm-fill text-sm-center nav-link tab" id="pills-more-info-tab" data-toggle="pill" href="#" role="tab" aria-controls="review-trip-more-info" aria-selected="false">More info</a>
                        </nav>

                        <br>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="review-modal-general-info" role="tabpanel" aria-labelledby="pills-review-info-tab">
        
                                <label for="review-text">Review:</label>
                                <textarea class="form-control" rows="5" id="review-text"></textarea>
                                <div class="invalid-feedback" id="review-text-error-msg" style="display: none">
                                    The review can't be empty.
                                </div>  
                                
                                <br>
                                
                                <label>Rate:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
                                </div>

                                <br>

                                <input type="text" name="poi" value="<%= id %>" style="display: none">

                                <div class="input-photo-container">  
                                    <input class="input-photo" id="review-photo-name" type="file" accept="image/*" name="review-photo" >
                                    <label tabindex="0" for="review-photo-name" class="input-photo-trigger"><i class="fas fa-camera"></i><span style="padding-left: 10px;">Upload photo</span></span></label>
                                </div>
                                        
                                <p class="review-photo-filename"></p>

                            </div>

                            <div class="tab-pane fade" id="review-modal-more-info" role="tabpanel" aria-labelledby="pills-more-info-tab">

                                <label>Accessibility:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-access-star5" name="accessibility" value="5" /><label for="share-rating-access-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-access-star4" name="accessibility" value="4" /><label for="share-rating-access-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-access-star3" name="accessibility" value="3" /><label for="share-rating-access-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-access-star2" name="accessibility" value="2" /><label for="share-rating-access-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-access-star1" name="accessibility" value="1" /><label for="share-rating-access-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Security:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-security-star5" name="security" value="5" /><label for="share-rating-security-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-security-star4" name="security" value="4" /><label for="share-rating-security-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-security-star3" name="security" value="3" /><label for="share-rating-security-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-security-star2" name="security" value="2" /><label for="share-rating-security-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-security-star1" name="security" value="1" /><label for="share-rating-security-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <div class="form-group">
                                    <label for="review-price">Price (€):</label>
                                    <input type="text" class="form-control" id="review-price" name="price">
                                </div>

                                <div class="form-group">
                                    <label for="select-visit-duration">Estimated visit duration:</label>
                                    <select class="form-control" id="select-visit-duration" name="duration">
                                        <option selected>Duration</option>
                                        <option>00:15</option>
                                        <option>00:30</option>
                                        <option>00:45</option>
                                        <option>01:00</option>
                                        <option>01:15</option>
                                        <option>01:30</option>
                                        <option>01:45</option>
                                        <option>02:00</option>
                                        <option>02:15</option>
                                        <option>02:30</option>
                                        <option>02:45</option>
                                        <option>03:00</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="changeReviewPage();" class="btn btn-success" id="change-review-page-btn"><i class="far fa-arrow-alt-circle-right"></i><span style="padding-left: 10px;">Next</span></button>

                        <button type="button" onclick="returnReviewPage();" class="btn btn-warning" id="return-review-page-btn" style="display: none; color: white;"><i class="far fa-arrow-alt-circle-left"></i><span style="padding-left: 10px;">Back</span></button>
                        <button type="button" onclick="submitReview();" class="btn btn-success" id="submit-review-btn" style="display: none;"><i class="fas fa-check"></i><span style="padding-left: 10px;">Submit</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Description Modal -->
        <div class="modal fade" id="add-description-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add description for <span id="modal-add-description-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  
                    
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" id="add-description-error" style="display: none;">
                            The description can't be empty !!
                        </div>

                        <label for="add-description-text">Description:</label>
                        <textarea class="form-control" rows="10" id="add-description-text"></textarea>  

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="editDescription();" class="btn btn-success"><i class="fas fa-check"></i><span style="padding-left: 10px;">Submit</span></button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Update Price Modal -->
        <div class="modal fade" id="update-price-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update price of <span id="modal-update-price-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  
                    
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" id="input-price-error" style="display: none;">
                            At least one field must be filled !!
                        </div>

                        <div class="alert alert-danger" role="alert" id="update-price-error" style="display: none;">
                            Error updating price. Try again !!
                        </div>

                        <div class="alert alert-success" role="alert" id="update-price-success" style="display: none;">
                            Updated with success !!
                        </div>

                        <label for="update-adult-price-text">Adults:</label>
                        <input class="form-control" id="input-adult-price" placeholder="Price for adults"></input>  

                        <br>

                        <label for="update-children-price-text">Children:</label>
                        <input class="form-control" id="input-children-price" placeholder="Price for children"></input>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="updatePrice();" class="btn btn-success"><i class="fas fa-check"></i><span style="padding-left: 10px;">Update</span></button>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br><br>


       <!-- Footer -->
      <footer class="footer">
        <!-- Footer Elements -->
        <div class="container cont">
          <div class="row">
            <div class="col-md-4">
                <img src="img/logo-2.png">
                <br><br>
                <p><a class="footer-links" href="/about-us">About us</a></p>
                <p><a class="footer-links" href="/help">Help</a></p>
                <br><br>
            </div>
            <div class="col-md-4">
              <br>
              <h5><strong>Contacts</strong></h5>
              <p class="footer-text"><i class="fas fa-map-marker-alt"></i><span style="padding-left: 10px;">Universidade de Aveiro, Portugal</span></p>
              <p class="footer-text"><i class="fas fa-envelope"></i><span style="padding-left: 10px;">etinerary@gmail.com</span></p>
              <p class="footer-text"><i class="fas fa-phone"></i><span style="padding-left: 10px;">234 234 234</span></p>
            </div>
            <div class="col-md-4">
                <br>
                <h5><strong>Social Media</strong></h5>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#" ></a>
                    <a class="twitterBtn smGlobalBtn" href="#" ></a>
                    <a class="instagramBtn smGlobalBtn" href="#" ></a>
                </div>
            </div>

          </div>
          <br><br>
        </div>

          <!-- Footer Elements -->
      
          <!-- Copyright -->
          <div class="footer-copyright">
            <span class="footer-text">&copy;2019 </span><a class="footer-links" href="/">E-tinerary&trade;</a><span class="footer-text">. All rights reserved</span>
          </div>

      </footer>
      <!-- Footer -->
        

  
    <!-- Scripts -->
    <script type="text/javascript" src="js/upload_photos.js"></script>
    <script>startGoogleSignIn();</script>

    <script>
        getPlaceDetails("<%= place_id %>", "<%= address %>", "<%= google_rating %>", "<%= num_reviews %>");
    </script>

    <script>
        var fromTrip = '<%= (fromTrip) %>';

        if(fromTrip == "true"){
            loadOpenSlots('<%- JSON.stringify(openslots) %>');
        }
    </script>
    

  </body>
</html>