<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-tinerary</title>
    <link rel="icon" href="img/logo-icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/places.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
  </head>
  <body onload="loadPage();">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                    </li>
                
                <li class="nav-item">
                    <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Cities & Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item header" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <div id="login-user">
                    <div id="login" style="display: none;">
                        <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-profile-pic" class="rounded-circle border border-light">
                        </a>
                        <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item header" href="./trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <a class="dropdown-item header" id="request-poi-btn" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                        </div>   
                    </div>        
                    </div>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid" id="places-header" style=" height: 300px; width: 100%;">
            
            <br><br>
            <div class="row">
                <div class="col-md-4 col-sm-3"></div>
                <div class="col-md-4 col-sm-6 places-title">
                    <h2 class="text-center" style="color: white; font-weight: bold;"><a class="city-link" href="./city?name=<%= city %>"><%= city %></a></h2>
                    <h3 class="text-center" style="color: white;"><%= country %></h3>
                </div>
                <div class="col-md-4 col-sm-3"></div>
            </div>
            
        </div>

        <!-- SEARCH BAR -->
        <div class="container-fluid" style="background-color: #343a40; padding-top: 20px; padding-bottom: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 cont">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group autocomplete has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control float-left" placeholder="Search for a place in <%= city %>" id="search-place-input" name="query" autocomplete="off">
                                </div>
                            </div>
                            <script>
                                var places = "<%= list_places_names %>";
                                var list_places = places.split(',');
                                autocomplete(document.getElementById("search-place-input"), list_places);
                            </script>



                            <div class="col-md-2">
                                <div class="form-group float-right">
                                    <button type="button" onclick="queryPlace()" class="btn btn-outline-warning" id="btn-search-place" ><i class="fas fa-search"></i><span style="padding-left: 10px; ">Search</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 cont">
                        <div class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-outline-warning dropdown-toggle" type="button" id="sortDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sort"></i><span style="padding-left: 10px; ">Sort</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                                    <button type="button" id="sort-alph-az-btn" class="dropdown-item dropdown-sort-places"><i class="fas fa-sort-alpha-down"></i><span style="padding-left: 10px;">Alphabetically (A-Z)</span></button>
                                    <button type="button" id="sort-alph-za-btn" class="dropdown-item dropdown-sort-places"><i class="fas fa-sort-alpha-down-alt"></i><span style="padding-left: 10px;">Alphabetically (Z-A)</span></button>
                                    <button type="button" id="sort-num-reviews-btn" class="dropdown-item dropdown-sort-places"><i class="fas fa-comment"></i><span style="padding-left: 10px;">Number of reviews</span></button>
                                    <button type="button" id="sort-rating-btn" class="dropdown-item dropdown-sort-places"><i class="fas fa-star"></i><span style="padding-left: 10px;">Rating</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-md-3">
                    <% if(fromTrip == true) { %>
                        <a class="back-btn" href="javascript:history.back()" style="font-size: 20px;"><i class="fas fa-undo"></i><span style="padding-left: 10px;">Back</span></a>
                    <% } %>
                </div>
                <div class="col-md-">
                    <div class="text-center">
                        <h3><b>The top places in <span></span><%= city %></b></h3>
                    </div>
                </div>
            </div>
           


            <div class="row cont">
                <div class="col-md-9">

                    <% if(places.length == 0) { %>
                        <br><br>
                        <div class="text-center" style="margin: auto;">
                            <i class="fas fa-ban fa-10x" style="color: #dddddd;"></i>
                        </div>
                        <div class="card-body text-center" style="color: #888888; font-size: 24px;">
                            <p class="mb-1">No places found for your search</p> 
                        </div>
                    <% } %>


                    <% count = 0 %>
                    <% places.forEach(function(place) { %>
                    
                    <div class="card" id="places-poi-<%= count %>">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="panel-title"><b><%= place.name %></b></h6>  
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right"><i id="places-poi-<%= count %>-icon" class="fas fa-monument" style="padding-right: 10px;"></i><h8 class="panel-title"><%= place.type %></h8></div>
                                </div>
                                <script>
                                    loadIcon('places-poi-<%= count %>-icon', '<%= place.type %>');
                                </script>
                            </div>                           
                        </div>


                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <img class="list-places-img" id="places-poi-<%= count %>-img">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md">
                                                <div id="places-poi-<%= count %>-rating">
                                                    <span style="padding-right: 5px; color: #ffc107; font-weight: bold;" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Google Rating"><%= place.rating %></span>
                                                </div>
                                                <script>
                                                    loadRating("<%= place.rating %>", "places-poi-<%= count %>-rating");
                                                </script>
                                            </div>
                                            <div class="col-md text-center">
                                                <span style="color: #ffc107; font-weight: bold;" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Number of comments on Google"><i class="fas fa-comment"></i><span style="padding-left: 5px;"><%= place.num_reviews.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></span>                                               
                                            </div>
                                            <div class="col-md text-right">
                                                <% if(place.price != null) { %>
                                                    <% if(place.price == 0) { %>
                                                        <div id="places-poi-<%= count %>-price">
                                                            <span style="padding-right: 5px; color: #ffc107; font-style: italic;" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Price">Free entrance</span>
                                                        </div>
                                                    <% } else { %>
                                                        <div id="places-poi-<%= count %>-price">
                                                            <span style="padding-right: 5px; color: #ffc107; font-style: italic;" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Price">Visits around <%= place.price %>€</span>
                                                        </div>
                                                    <% } %>
                                                <% } %>

                                                <script>
                                                    loadPriceRating("<%= place.price_level %>", "places-poi-<%= count %>-price");
                                                </script>
                                            </div>
                                        </div>

                                        <br>

                                        
                                        <div class="places-poi-description">
                                            <% if(place.description != null && place.description != "") { %>
                                                <span><%= place.description %></span>
                                            <% } else { %>
                                                <span>No description available</span>
                                            <% } %> 
                                        </div>

                                        <div class="row cont">
                                            <div class="col-md">
                                                <% if(fromTrip == true) { %>
                                                    <% if(visits.includes(place.id)){ %>
                                                        <% if(isManual == 1) { %>
                                                            <span class="places-poi-in-plan-info"><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Point of interest already in trip</span></span>
                                                        <% } else { %>
                                                            <span class="places-poi-in-plan-info"><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Scheduled for <%= place.schedule %> </span></span>
                                                        <% } %>
                                                    <% } else{ %>
                                                        <a class="btn-add-visit-modal" data-toggle="modal" data-target="#add-visit-modal" data-title="<%= place.name %>" data-poi="<%= place.id %>"><i class="far fa-calendar-alt"></i><span style="padding-left: 10px;">Add to your trip</span></a>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                            <div class="col-md">
                                                <div class="text-right">
                                                    <a class="places-poi-find-more" href="/place?id=<%= place.id %>">Find out more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <script>
                            getPlaceDetails("<%= place.place_id %>", "places-poi-<%= count %>-img", "<%= place.photo %>");
                            updatePlaceLink("places-poi-<%= count %>");
                        </script>

                    </div>

                    <br>

                    <% count = count + 1 %>
                    <% }); %>


                </div>

                <!-- Filter div -->
                <div class="col-md-3">
                   

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Filter</b></h5>
                            <p><b>Type of place</b></p>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="hotels-filter" value="Hotels" class="custom-control-input" id="hotels-filter" checked>
                                <label class="custom-control-label" for="hotels-filter"><i style="padding-left: 10px;" class="fas fa-bed"></i> Hotels</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="restaurants-filter" class="custom-control-input" id="restaurants-filter" checked>
                                <label class="custom-control-label" for="restaurants-filter"><i style="padding-left: 10px; padding-right: 5px;" class="fas fa-utensils"></i> Restaurants</label>
                            </div>    
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="museums-filter" class="custom-control-input" id="museums-filter" checked>
                                <label class="custom-control-label" for="museums-filter"><i style="padding-left: 10px; padding-right: 5px;" class="fas fa-archway"></i> Museums</label>
                            </div> 

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="churchs-filter" class="custom-control-input" id="churchs-filter" checked>
                                <label class="custom-control-label" for="churchs-filter"><i style="padding-left: 10px; padding-right: 5px;" class="fas fa-church"></i> Churchs</label>
                            </div>    

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="parks-filter" class="custom-control-input" id="parks-filter" checked>
                                <label class="custom-control-label" for="parks-filter"><i style="padding-left: 10px; padding-right: 5px;" class="fas fa-tree"></i> Parks</label>
                            </div>    

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="others-filter" class="custom-control-input" id="others-filter" checked>
                                <label class="custom-control-label" for="others-filter"><i style="padding-left: 10px; padding-right: 5px;" class="fas fa-monument"></i>Other Places</label>
                            </div>
                            <br>
                            

                            <div id="rating-filter">
                                <p>
                                    <label for="rating-range"><b>Rating range:</b></label>
                                    <input type="text" id="rating-range" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>
                                <div id="slider-rating-range"></div>
                            </div>

                            <br>

                            <div id="reviews-filter">
                                <p>
                                    <label for="reviews-range"><b>Number of reviews range:</b></label>
                                    <input type="text" id="reviews-range" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>
                                <div id="slider-reviews-range"></div>
                            </div>

                            <br>

                            <div class="float-right">
                                <button type="button" id="places-filter-btn" class="btn btn-warning" style="color: white;"><i class="fas fa-search"></i><span style="padding-left: 10px; "><b>Filter</b></span></button>
                            </div>
                        </div>
                    </div>

                    
                    <br>




                </div>
            </div>
        </div>

        <br>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="change-pages">
                <li class="page-item" id="button-first-page">
                    <button class="page-link" onclick="changePage('first');" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <li class="page-item" id="button-previous-page">
                    <button class="page-link" onclick="changePage('previous');" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </button>
                </li>
                
                <li class="page-item" id="button-page-1"><button class="page-link" onclick="changePage(this.value);" value="1">1</button></li>
                <li class="page-item" id="button-page-2"><button class="page-link" onclick="changePage(this.value);" value="2">2</button></li>
                <li class="page-item" id="button-page-3"><button class="page-link" onclick="changePage(this.value);" value="3">3</button></li>

                <li class="page-item" id="button-next-page">
                    <button class="page-link" onclick="changePage('next');" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </button>
                </li>
                <li class="page-item" id="button-last-page">
                    <button class="page-link" onclick="changePage('last');" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>

        </nav>

        <script>
            filterPage('<%= number_results %>');    
        </script>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 400px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <img id="profile-img" class="profile-img-card" src="img/login.png" />
                          <form class="form-signin">
                            <span id="reauth-email"></span>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="custom-control custom-checkbox" id="remember">
                                      <input type="checkbox" class="custom-control-input" id="remember-me">
                                      <label class="custom-control-label" for="remember-me">Remember me</label>
                                  </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="/recover" class="forgot-password">
                                        Forgot the password?
                                    </a>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                                <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                            <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                        
                          </form>
                          
      
                          <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                          </div>
      
                          <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                          <br><br>
                                      
                          <div id="customBtn">
                              <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                          </div>
      
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        <!-- Add Visit Modal -->
        <div class="modal fade" id="add-visit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add <span id="modal-title" style="font-weight: bold;"></span> to the trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="add-visit-error" role="alert" style="display: none;">
                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;" id="add-visit-error-msg"></span>
                        </div>

                        <% if(fromTrip && isManual == 0) { %> 

                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-choose-schedule-auto" name="customRadio" class="custom-control-input" checked>
                                <label class="custom-control-label" for="radio-choose-schedule-auto">Let us choose the schedule</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-choose-schedule-man" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="radio-choose-schedule-man">Choose the schedule</label>
                            </div>

                            <br>

                            <div class="dr" id="choose-schedule-man">

                                <p><b>Choose visit schedule: </b></p>
                                
                                <% if(fromTrip) { %>
                                    <div class="form-group">
                                        <div id="schedule-error" class="alert alert-danger text-center" role="alert" style="display: none;">
                                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">Please choose a day and a hour for the visit</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control" id="visit-day">
                                                    <option value="null">Day</option>

                                                    <% days.forEach(function(day) { %>
                                                        <option value='<%= day %>'><%= day %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="visit-start-hour">
                                                    <option value="null">Begin at</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>

                                <!--
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-start-hour">
                                                <option>Begin at</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-end-hour">
                                                <option>End at</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        <% } %>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" class="btn btn-success" id="confirm-add-visit-btn"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add</span></button>
                    </div>
                </div>
            </div>
        </div>



        <br><br><br><br>


        <!-- Footer -->
      <footer class="footer">
        <!-- Footer Elements -->
        <div class="container cont">
          <div class="row">
            <div class="col-md-4">
                <img src="img/logo-2.png">
                <br><br>
                <p><a class="footer-links" href="/about-us">About us</a></p>
                <p><a class="footer-links" href="/help">Help</a></p>
                <br><br>
            </div>
            <div class="col-md-4">
              <br>
              <h5><strong>Contacts</strong></h5>
              <p class="footer-text"><i class="fas fa-map-marker-alt"></i><span style="padding-left: 10px;">Universidade de Aveiro, Portugal</span></p>
              <p class="footer-text"><i class="fas fa-envelope"></i><span style="padding-left: 10px;">etinerary@gmail.com</span></p>
              <p class="footer-text"><i class="fas fa-phone"></i><span style="padding-left: 10px;">234 234 234</span></p>
            </div>
            <div class="col-md-4">
                <br>
                <h5><strong>Social Media</strong></h5>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#" ></a>
                    <a class="twitterBtn smGlobalBtn" href="#" ></a>
                    <a class="instagramBtn smGlobalBtn" href="#" ></a>
                </div>
            </div>

          </div>
          <br><br>
        </div>

          <!-- Footer Elements -->
      
          <!-- Copyright -->
          <div class="footer-copyright">
            <span class="footer-text">&copy;2019 </span><a class="footer-links" href="/">E-tinerary&trade;</a><span class="footer-text">. All rights reserved</span>
          </div>

      </footer>
      <!-- Footer -->

  
    <!-- Scripts -->
    <script>
        var fromTrip = '<%= fromTrip %>';

        if(fromTrip == "true"){
            var openslots = '<%- JSON.stringify(openslots) %>';
            loadOpenSlots(openslots);
        }

        loadNumMaxReviews('<%= num_max_reviews %>');
            
    </script>

    <script>startGoogleSignIn();</script>

    

  </body>
</html>