<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/place.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    
  </head>
  <body onload="loadNavbar();">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                
                  <li class="nav-item">
                    <a class="nav-link" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                  </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                      <a class="dropdown-item" href="./about-us">Aplicacao</a>
                      <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                  <div id="login-user">
                    <div id="login" style="display: none;">
                      <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-profile-pic" class="rounded-circle border border-light">
                        </a>
                      <div class="dropdown-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item" id="profile-trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                      </div>   
                    </div>        
                  </div>
                </li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="text-center">
                        <h3 id="place_name"><b><%= place %></b></h3>
                    </div>
                </div>
            </div>

            <div class="row cont">
                <div class="col-md-3">
                    <p><i class="fas fa-star"></i><span style="font-weight: bold; padding-left: 10px;">Rating: </span><span id="rating"> <%= rating %> / 5.0</span></p>                  
                </div> 
                <div class="col-md-3">
                    <p><i id="place_icon" class="fas fa-archway"></i><span style="font-weight: bold; padding-left: 10px;" id="type"><%= type %></span></p>                  
                </div>
                <div class="col-md-6 text-md-right ">
                    <p><i class="fas fa-map-marker-alt"></i><span style="font-weight: bold; padding-left: 10px;" id="address"><%= address %></span></p>                  
                </div> 
            </div>
            <script>
                loadIcon('<%= type %>');
            </script>

            <div class="row cont">
                <div class="col-md-8">
                    <div class="slideshow-container" id="slideshow-div">

                        <!-- Next and previous buttons -->
                        <button class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</button>
                        <button class="slideshow-next" onclick="plusSlides(1)">&#10095;</button>

                    </div>
                    <br>

                    <!-- The dots/circles -->
                    <div style="text-align:center" id="dots-div">
                    </div>

                    <br>
                    
                    <div class="card" >
                        <div class="card-body" id="place-description">
                            <% if(description == "" || description == place) { %>
                                <div class="text-right">
                                    <button class="btn btn-success btn-add-description-modal" data-toggle="modal" data-target="#add-description-modal" data-title="<%= place %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add description</span></button>
                                </div>
                            <% } else { %>
                                <div class="text-right">
                                    <button class="btn btn-success btn-add-description-modal" data-toggle="modal" data-target="#add-description-modal" data-title="<%= place %>" data-description="<%= description %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Update description</span></button>
                                </div>
                            <% } %>

                            <br>

                            <p class="card-text"><%= description %></p>

                            <!--<div class="text-right">
                                <p><i class="fab fa-wikipedia-w" style="padding-left: 10px;"></i></p>
                            </div>-->
                        </div>
                    </div>

                    <br>
                    
                    <div class="card" id="review-div">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">User Reviews</h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button class="btn btn-success btn-create-review-modal" data-toggle="modal" data-target="#review-modal" data-title="<%= place %>"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Make Review</span></button>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <% if(reviews.length == 0) { %>
                                <div class="text-center" style="margin: auto;">
                                    <i class="fas fa-comment-slash fa-3x" style="color: #dddddd;"></i>
                                </div>
                                <div class="card-body text-center empty-review">
                                    <p class="mb-1">No reviews made for <%= place %></p> 
                                    <p class="mb-1" style="font-size: 12px;">Be the first to make one</p>     
                                </div>
                            
                            <% } else { %>

                                <% count = 0 %>
                                <% reviews.forEach(function(review) { %>

                                    <div class="card" style="height: 150px;">
                                        <div class="row">
                                            <div class="col-md-3 text-center" style="margin: auto;">
                                                <img src="<%= review.user_pic %>" class="img-fluid review-img">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card-body">
                                                    <div class="text-right">
                                                        <small><%= review.date %></small>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1"><%= review.user %></h5>
                                                    </div>
                                                    <p class="mb-1"><%= review.text %></p>                                                                        
                                                    
                                                    <div class="text-right" id="review-<%= count %>-rating">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <script>
                                        loadReviewRating("<%= review.rating %>", "review-<%= count %>-rating");
                                    </script>

                                    <% count = count + 1 %>
                                <% }); %>
                            <% } %>
                        
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <% if(fromPlan == true) { %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-left">
                                <button class="btn btn-primary" onclick="window.history.back();"><i class="fas fa-undo"></i><span style="padding-left: 10px;">Back to plan</span></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <% if(inPlan == false) { %>
                                    <button class="btn btn-success btn-add-visit-modal" data-toggle="modal" data-target="#add-visit-modal" data-title="<%= place %>" data-poi="<%= id %>"><i class="far fa-calendar-alt"></i><span style="padding-left: 10px;">Add to your trip</span></button>
                                <% } else { %>
                                    <button type="button" style="background-color: #dcf2e2; color: black;" class="btn btn-success" disabled><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Already in trip</span></button>
                                <% } %>                    
                            </div>
                        </div>
                    </div>
                    <br>
                    <% } %>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Opening hours</h6>
                            <table class="table table-striped display" id="table-opening-hours" cellspacing="0" width="100%">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-phone"></i><span id="place-phone-number" style="padding-left: 10px;"><%= phone_number %></span></p>
                            <p class="card-text"><i class="fas fa-globe-europe"></i><a id="place-website" style="padding-left: 10px; text-decoration: none;" href="<%= website %>" target="_blank"><%= website %></a></p>
                            <p class="card-text"><span style="font-weight: bold;" >Coordinates: </span><span id="place-coordinates"><%= lat %>, <%= lon %></span></p>
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div id="place-map" class="map">
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title"><b><%= place %></b> in <span style="color: #fce107">E-tinerary</span></h6>
                        </div>
                    </div>



                </div>
            </div>


        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 400px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="profile-img" class="profile-img-card" src="img/login.png" />
                        <form class="form-signin">
                        <span id="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox" id="remember">
                                    <input type="checkbox" class="custom-control-input" id="remember-me">
                                    <label class="custom-control-label" for="remember-me">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/recover" class="forgot-password">
                                    Forgot the password?
                                </a>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                            <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                        <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                    
                        </form>
                        
    
                        <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                        </div>
    
                        <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                        <br><br>
                                    
                        <div id="customBtn">
                            <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                        </div>
    
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

        <!-- Add Visit Modal -->
        <div class="modal fade" id="add-visit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add <span id="modal-title" style="font-weight: bold;"></span> to the plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="add-visit-error" role="alert" style="display: none;">
                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;" id="add-visit-error-msg"></span>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radio-choose-schedule-auto" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="radio-choose-schedule-auto">Let us choose the schedule</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="radio-choose-schedule-man" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="radio-choose-schedule-man">Choose the schedule</label>
                        </div>

                        <br>

                        <div class="dr" id="choose-schedule-man">

                            <p><b>Choose visit schedule: </b></p>
                            
                            <% if(fromPlan) { %>
                                <div class="form-group">
                                    <div id="schedule-error" class="alert alert-danger text-center" role="alert" style="display: none;">
                                        <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">Please choose a day and a hour for the visit</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-day">
                                                <option value="null">Day</option>

                                                <% days.forEach(function(day) { %>
                                                    <option value='<%= day %>'><%= day %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="visit-start-hour">
                                                <option value="null">Begin at</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                            <!--
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" id="visit-start-hour">
                                            <option>Begin at</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="visit-end-hour">
                                            <option>End at</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" class="btn btn-success" id="confirm-add-visit-btn"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Review Modal -->
        <div class="modal fade" id="review-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create review for <span id="modal-review-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">

                        <nav class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link active" id="pills-review-info-tab" data-toggle="pill" href="#review-modal-general-info" role="tab" aria-controls="review-plan-general-info" aria-selected="true">Review</a>
                            <a class="flex-sm-fill text-sm-center nav-link" id="pills-more-info-tab" data-toggle="pill" href="#review-modal-more-info" role="tab" aria-controls="review-plan-more-info" aria-selected="false">More info</a>
                        </nav>

                        <br>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="review-modal-general-info" role="tabpanel" aria-labelledby="pills-review-info-tab">
        
                                <label for="review-text">Review:</label>
                                <textarea class="form-control" rows="5" id="review-text"></textarea>  
                                
                                <br>
                                
                                <label>Rate:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="review-modal-more-info" role="tabpanel" aria-labelledby="pills-more-info-tab">

                                <label>Accessibility:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-access-star5" name="accessibility" value="5" /><label for="share-rating-access-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-access-star4" name="accessibility" value="4" /><label for="share-rating-access-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-access-star3" name="accessibility" value="3" /><label for="share-rating-access-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-access-star2" name="accessibility" value="2" /><label for="share-rating-access-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-access-star1" name="accessibility" value="1" /><label for="share-rating-access-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Security:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-security-star5" name="security" value="5" /><label for="share-rating-security-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-security-star4" name="security" value="4" /><label for="share-rating-security-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-security-star3" name="security" value="3" /><label for="share-rating-security-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-security-star2" name="security" value="2" /><label for="share-rating-security-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-security-star1" name="security" value="1" /><label for="share-rating-security-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <div class="form-group">
                                    <label for="review-price">Price (€):</label>
                                    <input type="text" class="form-control" id="review-price" name="price">
                                </div>

                                <div class="form-group">
                                    <label for="select-visit-duration">Estimated visit duration:</label>
                                    <select class="form-control" id="select-visit-duration" name="duration">
                                        <option selected>Duration</option>
                                        <option>00:15</option>
                                        <option>00:30</option>
                                        <option>00:45</option>
                                        <option>01:00</option>
                                        <option>01:15</option>
                                        <option>01:30</option>
                                        <option>01:45</option>
                                        <option>02:00</option>
                                        <option>02:15</option>
                                        <option>02:30</option>
                                        <option>02:45</option>
                                        <option>03:00</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="submitReview();" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Submit</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Description Modal -->
        <div class="modal fade" id="add-description-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add description for <span id="modal-add-description-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <label for="add-description-text">Description:</label>
                        <textarea class="form-control" rows="10" id="add-description-text"></textarea>  

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="addDescription();" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Submit</span></button>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br><br>


        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->
        

  
    <!-- Scripts -->
    <script>startGoogleSignIn();</script>

    <script>
        var place_id = "<%= place_id %>";
        getPlaceDetails(place_id);
    </script>

    <script>
        var fromPlan = '<%= (fromPlan) %>';

        if(fromPlan == "true"){
            loadOpenSlots('<%- JSON.stringify(openslots) %>');
        }
    </script>
    

  </body>
</html>