<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/plan.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpKgqxjCAowTT9qWEaYm-7ALBc7MwVyz4&libraries=places"></script>

    
  </head>
  <body>
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#dropdown-menu" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Plan a trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./search">Get a Aplicação plan</a>
                        <a class="dropdown-item" href="./create-plan">Create your plan manually</a>
                    </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-restaurants"><i class="fas fa-utensils" style="padding-right: 5px;"></i>Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="email " placeholder="Email" aria-label="Email">
                    <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="text-left">
                        <h3 id="place_name"><b>Your visit to <%= city %></b></h3>
                        <h8 id="place_name"><%= start_date %>  - <%= end_date %></h8>
                    </div>
                </div>
            </div>


            <div class="row cont">
                <div class="col-md-9 col-sm-12">
                    <% days.forEach(function(day) { %>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="panel-title"><b><%= day %></b></h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped display table-plan" id="tab-plan" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Place</th>
                                            <th>Schedule</th>
                                            <th>Weather</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% count = 0 %>
                                        <% plan.forEach(function(visit) { %>
                                            <% if (visit.day == day.split(', ')[1]) { %>
                                                <tr>
                                                    <td class="index">
                                                        <i id="visit-<%= count %>-icon" class="fas fa-monument"></i>
                                                        <span style="padding-left: 10px;"><%= visit.name %></span>
                                                    </td>
                                                    <td><%= visit.start_time %> - <%= visit.end_time %></td>
                                                    <td>
                                                        <i class="far fa-sun fa-lg"></i>
                                                        <span style="padding-left: 10px;"><%= visit.weather %></span>
                                                    </td>
                                                    <td>
                                                        <div class="plan-table-icons text-right">
                                                            <button type="button" class="plan-table-btn-icons btn-info-modal" data-toggle="modal" data-target="#info-modal" data-title="<%= visit.name %>" data-city="<%= visit.city %>" data-place_id="<%= visit.place_id %>" data-addr="<%= visit.address %>" data-coord="<%= visit.coordinates %>" data-website="<%= visit.website %>" data-phone="<%= visit.phone_number %>"><i title="Get info" class="fas fa-info-circle fa-lg"></i></button>
                                                            <button type="button" class="plan-table-btn-icons" id="btn-remove-modal" data-toggle="modal" data-target="#remove-modal"><i title="Remove visit" class="fas fa-trash fa-lg" style="padding-left: 10px;"></i></button>
                                                            <button type="button" class="plan-table-btn-icons" id="btn-edit-modal" data-toggle="modal" data-target="#edit-modal"><i title="Edit visit" class="fas fa-edit fa-lg" style="padding-left: 10px;"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <script>
                                                    loadIcon('<%= count %>', '<%= visit.poi_type %>');
                                                </script>

                                                <% count = count + 1 %>
                                            <% } %>
                                        <% }); %>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <br>

                    <% }); %>
                </div>



                <!-- Sugestions div -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Visit also in <%= city %></b></h5>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="add-visit-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i><span style="padding-left: 10px;">Add visit</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Add new visit or activity</a>
                                <a class="dropdown-item" href="#">Add a place to eat</a>
                                <a class="dropdown-item" href="#">Book an hotel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <a id="view_map_btn" href="#"><button type="button" class="btn btn-warning" >View Map</button></a>
                            <a id="view_calendar_btn" href="#"><button type="button" class="btn btn-warning" >View Calendar</button></a>
                            <a id="save_plan_btn" href="#"><button type="button" class="btn btn-success" >Save Plan</button></a>
                        </div>
                    </div>
                </div>
                
            </div>

            

        </div>

        
        <!-- Info Modal -->
        <div class="modal fade" id="info-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img id="info-modal-img" height="200px;">
                        </div>
                        <br><br>
                        <div id="place-info"> 
                            <ul>
                                <li><strong>City: </strong><p id="modal-info-city"></p></li>
                                <li><strong>Address: </strong><p id="modal-info-addr"></p></li>
                                <li><strong>Coordinates: </strong><p id="modal-info-coord"></p></li>
                                <li><strong>Phone number: </strong><p id="modal-info-phone"></p></li>
                                <li><strong>Website: </strong><br><a id="modal-info-website"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Find out more</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove Modal -->
        <div class="modal fade" id="remove-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete visit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to delete this visit from the plan ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit visit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        



        <br><br><br><br>

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->
        



  </body>
</html>