<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="js/plan.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    
    <script src="https://apis.google.com/js/platform.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript" src="js/map-font-icons.js"></script>
    
  </head>
  <body onload="initMap('<%= city_latitude %>', '<%= city_longitude %>')">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                    </li>
                
                <li class="nav-item">
                    <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item header" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <div id="login-user">
                    <div id="login" style="display: none;">
                        <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-profile-pic" class="rounded-circle border border-light">
                        </a>
                        <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item header" id="profile-trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <a class="dropdown-item header" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <a class="dropdown-item header" href="./review-poi"><i class="fas fa-edit"></i><span style="padding-left: 10px;">Review POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                        </div>   
                    </div>        
                    </div>
                </li>
                </ul>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="text-left">
                                <h3 id="place_name"><b><%= name %></b></h3><h8 id="place_name"><%= start_date %>  - <%= end_date %></h8>                      
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button class="change-view" onclick="changeView('full');"><img class="img-responsive change-view-img" src="img/view-full.jpg" /></button>
                                    <br>
                                    <button class="change-view" onclick="changeView('full');">Plan view only</button>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button class="change-view" onclick="changeView('map');"><img class="img-responsive change-view-img" src="img/view-map.jpg" /></button>
                                    <br>
                                    <button class="change-view" onclick="changeView('map');">Map view only</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            

            <div class="row cont" style="height: 600px;">
                <div class="col-md-6" id="sideb">
                    <% if (!locals.day_no) { %>
                        <% day_no = 0 %>
                    <% } %>
                    <% day = days[day_no] %>
                    <div class="card card-body" style="height: 70px;">
                        <div class="row" id="plan-day-<%= day_no %>">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <button id="previous-day-btn" class="change-plan-day-btn" onclick="previousDay();"><i class="fas fa-arrow-alt-circle-left fa-lg"></i></button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-center">
                                    <h5 id="visit-day" style="font-weight: bold;"><%= day %></h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="text-center">
                                    <button id="next-day-btn" class="change-plan-day-btn" onclick="nextDay();"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vl" style="border-left: 2px solid #dddddd; height: 40px; margin-left: 50px;"></div>

                    <% count = 0 %>
                    <% plan.forEach(function(visit) { %>
                        <div id="place-<%= count %>">
                            <div class="card visit-loaded" style="height: 150px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img id="place-<%= count %>-img" class="img-fluid" alt="" style="height: 150px; width: 100%;">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body row">
                                            <div class="col-md-7">
                                                <div class="text-left">
                                                    <h6 id="place-<%= count %>-name" class="card-title plan-title" ><b></b></h6>

                                                    <span id="place-<%= count %>-type" style="color: #767676;"></span>
                                                    <p></p>

                                                    <span id="place-<%= count %>-start-hour" class="hours-text"></span>
                                                    -
                                                    <span id="place-<%= count %>-end-hour" class="hours-text-2"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="text-right">
                                                    <span id="place-<%= count %>-weather" style="padding-left: 10px; color: #767676;"></span>
                                                </div>
                                                <div class="plan-table-icons text-right"> 
                                                    <button type="button" class="plan-table-btn-icons btn-info-modal" id="place-<%= count %>-info" data-toggle="modal" data-target="#info-modal" ><i title="Get info" class="fas fa-info-circle fa-lg"></i></button>
                                                    <button type="button" class="plan-table-btn-icons btn-remove-modal" id="place-<%= count %>-remove" data-toggle="modal" data-target="#remove-modal"><i title="Remove visit" class="fas fa-trash fa-lg" style="padding-left: 10px;"></i></button>
                                                    <button type="button" class="plan-table-btn-icons btn-edit-modal" id="place-<%= count %>-edit" data-toggle="modal" data-target="#edit-modal"><i title="Edit visit" class="fas fa-edit fa-lg" style="padding-left: 10px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vl" style="border-left: 2px solid #dddddd; height: 70px; margin-left: 50px;">
                                <br>
                                <span id="desloc" style="padding-left: 10px; color: #767676; font-size: 12px;"><i class="fas fa-bus"></i><span style="padding-left: 10px;">10 minutes</span></span>
                            </div>
                        </div>
                        <% count = count + 1 %>
                    <% }); %>
                    <div class="vl" style="border-left: 2px solid #dddddd; margin-left: 50px;">
                        <br>
                        <a id="plan-link-hotels" href="/hotels?dest=<%= city %>"><i class="fas fa-bed"></i><span style="padding-left: 10px;">Discover hotels in <%= city %></span></a>          
                    </div>
                    <hr>
                </div>

                <div class="col-md-6" id="map"></div>

            </div>

            <br><br>

            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-6">
                        <% if(isPublic == 0) { %>
                            <div class="dropdown" id="add-visit-div">
                                <button class="btn btn-info dropdown-toggle" type="button" id="add-visit-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus"></i><span style="padding-left: 10px;">Add visit</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" onclick="addVisit('<%= city %>');" style="cursor: pointer;">Add new visit or activity</button>
                                    <a class="dropdown-item" href="#">Book an hotel</a>
                                </div>
                            </div>
                        <% } else if (source != "author") { %>
                            <script>
                                console.log("<%= isInterested %>");    
                            </script>
                            <% if(isInterested == 0) { %>
                                <button type="button" class="btn btn-interested" onclick="checkInterest()"><i class="far fa-star"></i><span style="padding-left: 10px;">I'm interested</span></button>                        
                            <% } else { %>
                                <div class="dropdown" id="interested-div">
                                    <button class="btn btn-interested checked dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-star"></i><span style="padding-left: 10px;">I'm interested</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" style="cursor: pointer;" onclick="uncheckInterest()">I'm not interested anymore</button>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <% if(source == "author") { %>
                                <button type="button" class="btn btn-success btn-stats-modal" data-toggle="modal" data-target="#stats-modal" data-title="<%= name %>"><i class="fas fa-chart-bar"></i><span style="padding-left: 10px;">View Stats</span></button>
                                <button type="button" class="btn btn-success btn-view-reviews-modal" data-toggle="modal" data-target="#view-reviews-modal" data-title="<%= name %>"><i class="fas fa-comment"></i><span style="padding-left: 10px;">View Reviews</span></button>
                                <% if(isPublic == 0) { %>
                                    <button type="button" class="btn btn-success btn-share-modal" data-toggle="modal" data-target="#share-modal" data-name="<%= name %>"><i class="fas fa-share-alt"></i><span style="padding-left: 10px;">Share Plan</span></button>
                                <% } else { %> 
                                    <button type="button" style="background-color: #dcf2e2; color: black;" class="btn btn-success btn-share-modal" disabled><i class="fas fa-check-circle"></i><span style="padding-left: 10px;">Shared plan</span></button>
                                <% } %>

                                <% if(isManual == 1) { %>
                                    <a id="save_plan_btn" href="#"><button type="button" class="btn btn-success"><i class="fas fa-save"></i><span style="padding-left: 10px;">Save Plan</span></button></a>
                                <% } %>

                            <% } else { %>
                                <button type="button" class="btn btn-success btn-stats-modal" data-toggle="modal" data-target="#stats-modal" data-title="<%= name %>"><i class="fas fa-chart-bar"></i><span style="padding-left: 10px;">View Stats</span></button>
                                <button type="button" class="btn btn-success btn-view-reviews-modal" data-toggle="modal" data-target="#view-reviews-modal" data-title="<%= name %>"><i class="fas fa-comment"></i><span style="padding-left: 10px;">View Reviews</span></button>
                                <button type="button" class="btn btn-success btn-use-plan-modal" data-toggle="modal" data-target="#use-plan-modal" data-title="<%= name %>"><i class="fas fa-save"></i><span style="padding-left: 10px;">Use this Plan</span></button>
                            <% } %>                        
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            

        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 400px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <img id="profile-img" class="profile-img-card" src="img/login.png" />
                          <form class="form-signin">
                            <span id="reauth-email"></span>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="custom-control custom-checkbox" id="remember">
                                      <input type="checkbox" class="custom-control-input" id="remember-me">
                                      <label class="custom-control-label" for="remember-me">Remember me</label>
                                  </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="/recover" class="forgot-password">
                                        Forgot the password?
                                    </a>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                                <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                            <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                        
                          </form>
                          
      
                          <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                          </div>
      
                          <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                          <br><br>
                                      
                          <div id="customBtn">
                              <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                          </div>
      
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Info Modal -->
        <div class="modal fade" id="info-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img id="info-modal-img" height="200px;">
                        </div>
                        <br><br>

                        <nav class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link tab active" id="pills-general-info-tab" data-toggle="pill" href="#place-info" role="tab" aria-controls="place-info" aria-selected="true">General Information</a>
                            <a class="flex-sm-fill text-sm-center nav-link tab" id="pills-more-info-tab" data-toggle="pill" href="#place-more-info" role="tab" aria-controls="place-more-info" aria-selected="false">More info</a>
                        </nav>

                        <br>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="place-info" role="tabpanel" aria-labelledby="pills-general-info-tab">
                                <ul>
                                    <li><strong><i class="fas fa-city"></i> City: </strong><p id="modal-info-city"></p></li>
                                    <li><strong><i class="fas fa-map-marker-alt"></i> Address: </strong><p id="modal-info-addr"></p></li>
                                    <li><strong><i class="fas fa-map-pin"></i> Coordinates: </strong><p id="modal-info-coord"></p></li>
                                    <li><strong><i class="fas fa-phone"></i> Phone number: </strong><p id="modal-info-phone"></p></li>
                                    <li><strong><i class="fas fa-globe-europe"></i> Website: </strong><br><a id="modal-info-website" target="_blank"></a></li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="place-more-info" role="tabpanel" aria-labelledby="pills-more-info-tab">
                                <ul>
                                    <li><strong><i class="fas fa-map-marked-alt"></i> Plans: </strong><p id="modal-info-number-plans"></p></li>
                                    <li><strong>
                                        <i class="fas fa-star"></i> Rating: </strong>
                                        <div class="place-etinerary-div" id="place-rating">
                                            
                                        </div>
                                    </li>
                                    <li><strong>
                                        <i class="fab fa-accessible-icon"></i> Accessibility: </strong>
                                        <div class="place-etinerary-div" id="place-accessibility">
                                        </div>
                                    </li>
                                    <li><strong>
                                        <i class="fas fa-lock"></i> Security: </strong>
                                        <div class="place-etinerary-div" id="place-security">
                                        </div>
                                    </li>
                                    <li><strong><i class="far fa-clock"></i> Duration: </strong><p id="modal-info-duration"></p></li>
                                    <li><strong><i class="fas fa-euro-sign"></i> Price: </strong><p id="modal-info-price"></p></li>                                   
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button id="modal-find-more-btn" type="button" class="btn btn-warning" style="color: white;" data-dismiss="modal"><i class="fas fa-search"></i><span style="padding-left: 10px;">Find out more</span></button>
                        <button id="add-visit-btn" type="button" class="btn btn-success" style="color: white; display: none;" data-dismiss="modal"><i class="fas fa-calendar-alt"></i><span style="padding-left: 10px;">Add to the trip</span></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove Modal -->
        <div class="modal fade" id="remove-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete visit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to delete <span id="modal-delete-visit-name" style="font-weight: bold;"></span> from the plan ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="confirm-remove-btn" data-dismiss="modal"><i class="fas fa-trash-alt"></i><span style="padding-left: 10px;">Yes</span></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">No</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="edit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit visit : <span id="modal-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>Edit visit schedule: </b></p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-start-hour">
                                        <option>Begin at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-end-hour">
                                        <option>End at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Edit</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Use Plan Modal -->
        <div class="modal fade" id="use-plan-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Use <span id="modal-use-plan-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <p><b>Choose your dates: </b></p>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="input-group date">
                                    <input type="text" class="form-control" placeholder="Arrival" id="arrival-date" name="arrival" required>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button"  class="btn btn-success" onclick="usePlan();" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Confirm</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- View Reviews Modal -->
        <div class="modal fade bd-example-modal-lg" id="view-reviews-modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reviews made for <span id="modal-view-reviews-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <% if(reviews.length == 0) { %>
                            <div class="text-center" style="margin: auto;">
                                <i class="fas fa-comment-slash fa-3x" style="color: #dddddd;"></i>
                            </div>
                            <div class="card-body text-center empty-review">
                                <p class="mb-1">No reviews made for <span id="view-reviews-title"></span></p> 
                                <p class="mb-1" style="font-size: 12px;">Be the first to make one</p>     
                            </div>
                        
                        <% } else { %>

                            <% count = 0 %>
                            <% reviews.forEach(function(review) { %>

                                <div class="card" style="height: 150px;">
                                    <div class="row">
                                        <div class="col-md-3 text-center" style="margin: auto;">
                                            <img src="<%= review.user_pic %>" class="img-fluid review-img">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <div class="text-right">
                                                    <small><%= review.date %></small>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1"><%= review.user %></h5>
                                                </div>
                                                <p class="mb-1"><%= review.text %></p>                                                                        
                                                
                                                <div class="text-right" id="review-<%= count %>-rating">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <script>
                                    loadReviewRating("<%= review.rating %>", "review-<%= count %>-rating");
                                </script>

                                <% count = count + 1 %>
                            <% }); %>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                        <button class="btn btn-success btn-create-review-modal" id="create-review-btn" data-dismiss="modal" data-toggle="modal" data-target="#review-modal"><i class="fas fa-plus"></i><span style="padding-left: 10px;">Make Review</span></button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Review Modal -->
        <div class="modal fade" id="review-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span id="modal-review-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">

                        <nav class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link tab active" id="pills-review-general-info-tab" data-toggle="pill" href="#review-modal-general-info" role="tab" aria-controls="review-plan-general-info" aria-selected="true">General Information</a>
                            <a class="flex-sm-fill text-sm-center nav-link tab" id="pills-review-more-info-tab" data-toggle="pill" href="#review-modal-more-info" role="tab" aria-controls="review-plan-more-info" aria-selected="false">Help us improve</a>
                        </nav>

                        <br>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="review-modal-general-info" role="tabpanel" aria-labelledby="pills-review-general-info-tab">
            
                                <label for="review-text">Review:</label>
                                <textarea class="form-control" rows="5" id="review-text"></textarea>  
                                
                                <br>
                                
                                <label>Rate:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="review-modal-more-info" role="tabpanel" aria-labelledby="pills-review-more-info-tab">

                                <label>Accessibility:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-access-star5" name="accessibility" value="5" /><label for="share-rating-access-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-access-star4" name="accessibility" value="4" /><label for="share-rating-access-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-access-star3" name="accessibility" value="3" /><label for="share-rating-access-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-access-star2" name="accessibility" value="2" /><label for="share-rating-access-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-access-star1" name="accessibility" value="1" /><label for="share-rating-access-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Security:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-security-star5" name="security" value="5" /><label for="share-rating-security-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-security-star4" name="security" value="4" /><label for="share-rating-security-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-security-star3" name="security" value="3" /><label for="share-rating-security-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-security-star2" name="security" value="2" /><label for="share-rating-security-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-security-star1" name="security" value="1" /><label for="share-rating-security-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Price:</label>
                                <div class="pricerating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-price5" name="price-rating" value="5" /><label for="share-rating-price5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-price4" name="price-rating" value="4" /><label for="share-rating-price4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-price3" name="price-rating" value="3" /><label for="share-rating-price3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-price2" name="price-rating" value="2" /><label for="share-rating-price2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-price1" name="price-rating" value="1" /><label for="share-rating-price1" title="1 star">1</label>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                        <button type="button" onclick="submitReview();" class="btn btn-success" id="submit-review-btn" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Submit</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats Modal -->
        <div class="modal fade" id="stats-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span id="modal-stats-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">

                        <ul>
                            <li><i class="fas fa-eye"></i><strong style="padding-left: 10px;">Viewers: </strong><p><%= num_viewers %></p></li>
                            <li><i class="fas fa-comment"></i><strong style="padding-left: 10px;">Reviews: </strong><p><%= num_reviews %></p></li>
                            <li><i class="fas fa-retweet"></i><strong style="padding-left: 10px;">Plans: </strong><p><%= num_plans %></p></li>
                            <li><i class="fas fa-star"></i><strong style="padding-left: 10px;">Rating: </strong><p><%= rating %> / 5.0</p></li>
                        </ul>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Share Modal -->
        <div class="modal fade" id="share-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Share <span id="share-modal-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="share-plan-form" action="/share-plan" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">

                            <nav class="nav nav-pills flex-column flex-sm-row">
                                <a class="flex-sm-fill text-sm-center nav-link tab active" id="pills-general-info-tab" data-toggle="pill" href="#share-modal-general-info" role="tab" aria-controls="share-plan-general-info" aria-selected="true">General Information</a>
                                <a class="flex-sm-fill text-sm-center nav-link tab" id="pills-more-info-tab" data-toggle="pill" href="#share-modal-more-info" role="tab" aria-controls="share-plan-more-info" aria-selected="false">Help us improve</a>
                            </nav>

                            <br>

                            <div class="alert alert-warning" id="are-you-sure-share-msg" role="alert">
                                <i class="fas fa-exclamation-triangle"></i><span style="padding-left: 10px;">Are you sure that you want to share <span id="are-you-sure-plan-name" style="font-weight: bold;"></span> ?</span>
                                <p>After the plan is shared, you will not be able to make changes on it.</p>
                            </div>

                            <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="share-modal-general-info" role="tabpanel" aria-labelledby="pills-general-info-tab">
    
                                <label for="inputDescription">Enter a description for the plan</label>
                                <textarea type="text" id="inputDescription" class="form-control" name="description" required></textarea>

                                <br>

                                <div class="form-group">
                                    <label for="select-category-plan">Category for you plan</label>
                                    <select class="form-control" id="select-category-plan" name="category">
                                        <option selected>Overall</option>
                                        <option>Nature</option>
                                        <option>History</option>
                                        <option>Culture</option>
                                        <option>Sports</option>
                                    </select>
                                </div>
                                
                                <br>

                                <label>Rate your plan:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-star5" name="rating" value="5" /><label for="share-rating-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-star4" name="rating" value="4" /><label for="share-rating-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-star3" name="rating" value="3" /><label for="share-rating-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-star2" name="rating" value="2" /><label for="share-rating-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-star1" name="rating" value="1" /><label for="share-rating-star1" title="1 star">1</label>
                                </div>

                                <br>

                                
        
                                <label for="plan-picture">Submit a picture for the plan</label>
                                <input type="file" class="form-control-file" accept="image/*" id="plan-picture" name="picture" required>

                            </div>

                            <div class="tab-pane fade" id="share-modal-more-info" role="tabpanel" aria-labelledby="pills-more-info-tab">

                                <label>Accessibility:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-access-star5" name="accessibility" value="5" /><label for="share-rating-access-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-access-star4" name="accessibility" value="4" /><label for="share-rating-access-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-access-star3" name="accessibility" value="3" /><label for="share-rating-access-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-access-star2" name="accessibility" value="2" /><label for="share-rating-access-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-access-star1" name="accessibility" value="1" /><label for="share-rating-access-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Security:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-security-star5" name="security" value="5" /><label for="share-rating-security-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-security-star4" name="security" value="4" /><label for="share-rating-security-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-security-star3" name="security" value="3" /><label for="share-rating-security-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-security-star2" name="security" value="2" /><label for="share-rating-security-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-security-star1" name="security" value="1" /><label for="share-rating-security-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Price:</label>
                                <div class="pricerating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-price5" name="price-rating" value="5" /><label for="share-rating-price5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-price4" name="price-rating" value="4" /><label for="share-rating-price4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-price3" name="price-rating" value="3" /><label for="share-rating-price3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-price2" name="price-rating" value="2" /><label for="share-rating-price2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-price1" name="price-rating" value="1" /><label for="share-rating-price1" title="1 star">1</label>
                                </div>

                            </div>
                            </div>
                            
    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                            <button type="submit" value="upload" id="submit-share-plan-btn" class="btn btn-success"><i class="fas fa-check"></i><span style="padding-left: 10px;">Share</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; E-tinerary, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->

    
    <!-- Scripts -->
    
    <script>startGoogleSignIn();</script>
    
    <script>
        var plan = [];
        var suggested_visits = [];
        var suggested_hotels = [];
        
        '<% plan.forEach(function(visit) { %>'
            plan.push('<%- JSON.stringify(visit) %>');
        '<% }); %>'

        '<% suggested_visits.forEach(function(visit) { %>'
            suggested_visits.push('<%- JSON.stringify(visit) %>');
        '<% }); %>'

        '<% suggested_hotels.forEach(function(hotel) { %>'
            suggested_hotels.push('<%- JSON.stringify(hotel) %>');
        '<% }); %>'

        loadPlan(plan, '<%= days %>');
        loadSuggestions(suggested_visits);
        loadHotels(suggested_hotels);
    
    </script>

  </body>
</html>