<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript" src="js/plan-2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcM_AepOJRN1QIx96d2n0FOfOcGfZYfck&libraries=places"></script>
    <script type="text/javascript" src="js/map-font-icons.js"></script>

    
  </head>
  <body onload="initMap('<%= city %>')">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#dropdown-menu" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Plan a trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./search">Get a Aplicação plan</a>
                        <a class="dropdown-item" href="./create-plan">Create your plan manually</a>
                    </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-restaurants"><i class="fas fa-utensils" style="padding-right: 5px;"></i>Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="email " placeholder="Email" aria-label="Email">
                    <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="text-left">
                                <h3 id="place_name"><b>Your visit to <%= city %></b></h3><h8 id="place_name"><%= start_date %>  - <%= end_date %></h8>                      
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button class="change-view" onclick="changeView('full');"><img class="img-responsive change-view-img" src="img/view-full.jpg" /></button>
                                    <br>
                                    <button class="change-view" onclick="changeView('full');">View only plan</button>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button class="change-view" onclick="changeView('map');"><img class="img-responsive change-view-img" src="img/view-map.jpg" /></button>
                                    <br>
                                    <button class="change-view" onclick="changeView('map');">View full map</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            

            <div class="row cont" style="height: 600px;">
                <div class="col-md-6" id="sideb">
                    <% if (!locals.day_no) { %>
                        <% day_no = 0 %>
                    <% } %>
                    <% day = days[day_no] %>
                    <div class="card card-body" style="height: 70px;">
                        <div class="row" id="plan-day-<%= day_no %>">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <button class="change-plan-day-btn" onclick="previousDay();"><i class="fas fa-arrow-alt-circle-left fa-lg"></i></button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-center">
                                    <h5 id="visit-day" style="font-weight: bold;"><%= day %></h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="text-center">
                                    <button class="change-plan-day-btn" onclick="nextDay();"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vl" style="border-left: 2px solid #dddddd; height: 40px; margin-left: 50px;"></div>

                    <% count = 0 %>
                    <% plan.forEach(function(visit) { %>
                        <% if (visit.day == day.split(', ')[1]) { %>    
                            <div class="card" style="height: 150px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img id="place-<%= count %>-img" class="img-fluid" alt="" style="height: 150px; width: 100%;">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body row">
                                            <div class="col-md-8">
                                                <div class="text-left">
                                                    <h6 id="place-<%= count %>-name" class="card-title"><b></b></h6>
                                                    <span id="place-<%= count %>-type" style="color: #767676;"></span>
                                                    <span id="place-<%= count %>-hours" class="text-bottom"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-right">
                                                    <span id="place-<%= count %>-weather" style="padding-left: 10px; color: #767676;"></span>
                                                </div>
                                                <div class="plan-table-icons text-right"> 
                                                    <button type="button" class="plan-table-btn-icons btn-info-modal" id="place-<%= count %>-info" data-toggle="modal" data-target="#info-modal" ><i title="Get info" class="fas fa-info-circle fa-lg"></i></button>
                                                    <button type="button" class="plan-table-btn-icons btn-remove-modal" id="place-<%= count %>-remove" data-toggle="modal" data-target="#remove-modal"><i title="Remove visit" class="fas fa-trash fa-lg" style="padding-left: 10px;"></i></button>
                                                    <button type="button" class="plan-table-btn-icons btn-edit-modal" id="place-<%= count %>-edit" data-toggle="modal" data-target="#edit-modal"><i title="Edit visit" class="fas fa-edit fa-lg" style="padding-left: 10px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vl" style="border-left: 2px solid #dddddd; height: 70px; margin-left: 50px;">
                                <br>
                                <span id="desloc" style="padding-left: 10px; color: #767676; font-size: 12px;"><i class="fas fa-bus"></i><span style="padding-left: 10px;">10 minutes</span></span>
                            </div>
                            <% count = count + 1 %>
                        <% } %>
                    <% }); %>
                    <hr>
                </div>

                <div class="col-md-6" id="map">
            </div>

                



                <!-- Sugestions div 
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Visit also in <%= city %></b></h5>
                        </div>
                    </div>
                </div>-->
            </div>

            <br><br>

            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="add-visit-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i><span style="padding-left: 10px;">Add visit</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" onclick="addVisit('<%= city %>');" style="cursor: pointer;">Add new visit or activity</button>
                                <a class="dropdown-item" href="#">Book an hotel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <!--<a id="view_map_btn" href="#"><button type="button" class="btn btn-warning" >View Map</button></a>
                            <a id="view_calendar_btn" href="#"><button type="button" class="btn btn-warning" >View Calendar</button></a>-->
                            <a id="save_plan_btn" href="#"><button type="button" class="btn btn-success" >Save Plan</button></a>
                        </div>
                    </div>
                </div>
                
            </div>

            <br><br>

            

        </div>

        
        <!-- Info Modal -->
        <div class="modal fade" id="info-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img id="info-modal-img" height="200px;">
                        </div>
                        <br><br>
                        <div id="place-info"> 
                            <ul>
                                <li><strong>City: </strong><p id="modal-info-city"></p></li>
                                <li><strong>Address: </strong><p id="modal-info-addr"></p></li>
                                <li><strong>Coordinates: </strong><p id="modal-info-coord"></p></li>
                                <li><strong>Phone number: </strong><p id="modal-info-phone"></p></li>
                                <li><strong>Website: </strong><br><a id="modal-info-website" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-find-more-btn" type="submit" class="btn btn-warning" style="color: white;" data-dismiss="modal"><i class="fas fa-search"></i><span style="padding-left: 10px;">Find out more</span></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove Modal -->
        <div class="modal fade" id="remove-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete visit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to delete <span id="modal-delete-visit-name" style="font-weight: bold;"></span> from the plan ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-trash-alt"></i><span style="padding-left: 10px;">Yes</span></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">No</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="edit-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit visit : <span id="modal-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>Edit visit schedule: </b></p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-start-hour">
                                        <option>Begin at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="visit-end-hour">
                                        <option>End at</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Close</span></button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"></i><span style="padding-left: 10px;">Edit</span></button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->

        
    <script>
        var plan = [];
        
        '<% plan.forEach(function(visit) { %>'
            plan.push('<%- JSON.stringify(visit) %>');

        '<% }); %>'

        loadPlan(plan, '<%= days %>');
    
    </script>

  </body>
</html>