<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    
  
  </head>
  <body onload="loadNavbar();">
       
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                  </li>
                
                <li class="nav-item">
                  <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                      <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                      <a class="dropdown-item header" href="./help">Help</a>
                    </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                  <div id="login-user">
                    <div id="login" style="display: none;">
                      <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                      <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img id="user-profile-pic" class="rounded-circle border border-light">
                      </a>
                      <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item header" id="profile-trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <a class="dropdown-item header" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <a class="dropdown-item header" href="./review-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Review POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                      </div>   
                    </div>        
                  </div>
                </li>
              </ul>
            </div>
        </nav>

        <div class="container" style="min-height: 100%">
                <div class="cont">
                    <div class="card card-body bg-light">
                        <div class="text-left">
                            <h3><b>Review Points of Interest</b></h3>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-9">
                        <div>

                            <br>

                            <% if(poi_list.lenght == 0) { %>
                              <div class="card" >
                                <br>
                                <div class="text-center" style="margin: auto;">
                                    <i class="fas fa-comment-slash fa-3x" style="color: #dddddd;"></i>
                                </div>
                                <div class="card-body text-center empty-review">
                                    <p class="mb-1">No submitions available to be reviewed </p>   
                                </div>
                              </div>
                            <% } %>
    
                            <% poi_list.forEach(function(poi) { %>
                            <div class="card" style="height: 150px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid card-img" src="<%= poi.photo %>" alt="" style="height: 148px; width: 100%;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                          <div class="text-left">
                                              <a href="/review-poi?id=<%= poi.id %>" class="trip-link"><span class="card-title"><b><%= poi.name %></b></span></a>
                                              <br>
                                              <span style="color: #767676;"><%= poi.city %></span>
                                              <br><br>
                                          </div>
                                          <div class="text-right">
                                              <a class="btn btn-warning" href="/review-poi?id=<%= poi.id %>" style="color: white;"><i class="fas fa-search"></i><span style="padding-left: 10px;">Review this POI</span></a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <% }); %> 
                        </div>
                            
    
                    </div>
    
                    <div class="col-md-3">
                        <div class="cont">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Filter</b></h5>
                                    <br>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                </div>
    
            </div>

        


      <!-- Login Modal -->
      <div class="modal fade" id="login-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content" style="width: 400px;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      

                    <img id="profile-img" class="profile-img-card" src="img/login.png" />
                    <form class="form-signin">
                      <span id="reauth-email"></span>
                      <div class="alert alert-danger" id="login-error" role="alert" style="display: none;">
                          <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">The email or password is incorrect</span>
                      </div>
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox" id="remember">
                                <input type="checkbox" class="custom-control-input" id="remember-me">
                                <label class="custom-control-label" for="remember-me">Remember me</label>
                            </div>
                          </div>
                          <div class="col-md-6 text-right">
                              <a href="/recover" class="forgot-password">
                                  Forgot the password?
                              </a>
                          </div>
                      </div>
                      <br>
                      <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                          <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                      <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                  
                    </form>
                    

                    <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">or</span>
                    </div>

                    <div class="fb-login-button" data-width="366" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    <!--<button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>-->
                    <br><br>
                                
                    <div id="customBtn">
                        <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                    </div>

                  </div>
                  <div class="modal-footer">
                  </div>
              </div>
          </div>
      </div>


        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->


  
    <!-- Scripts -->
    <script>startGoogleSignIn();</script>

  </body>
</html>