<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    

  
  </head>
  <body onload="loadNavbar();">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                
                  <li class="nav-item">
                    <a class="nav-link" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                  </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                      <a class="dropdown-item" href="./about-us">Aplicacao</a>
                      <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                  <div id="login-user">
                    <div id="login" style="display: none;">
                      <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                      <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img id="user-profile-pic">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item" id="profile-trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                      </div>   
                    </div>        
                  </div>
                </li>
              </ul>
            </div>
        </nav>

        

        <div class="container-fluid cont" style="background-color: #343a40; background-image: url('/img/home-image.jpg');">

            <div class="row">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-8 col-sm-8  search-box" >
                <br>

                <div class="text-center">
                    <h2 style="color: #ffc107; font-weight: bold;">Let us plan your trip</h2>
                </div>

                <br><br>

                <form autocomplete="off" id="search-form" action="/create-plan" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group autocomplete fg">
                                <label class="mr-2" for="inputDestination" style="color: #ffc107; font-weight: bold;">Destination</label>
                                <input type="text" class="form-control" id="inputDestination" name="destination" placeholder="Enter your destination">
                            </div>
                            <script>
                                var cities = "<%= cities %>";
                                var list_cities = cities.split(',');
                                autocomplete(document.getElementById("inputDestination"), list_cities);
                            </script>

                            <div class="form-group fg">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="mr-2" for="select-adults" style="color: #ffc107; font-weight: bold;">Adults</label>
                                        <select class="custom-select mr-sm-2" id="select-adults" name="no-adults">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="my-1 mr-2" for="select-children" style="color: #ffc107; font-weight: bold;">Children (< 12 years)</label>
                                        <select class="custom-select mr-sm-2" id="select-children" name="no-children">
                                        <option selected value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group fg">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="input-group date ">
                                        <label class="mr-2" for="arrival-date" style="color: #ffc107; font-weight: bold;">Dates</label>
                                        <input type="text" class="form-control" placeholder="Arrival" id="arrival-date" name="arrival" required>
                                        <script>
                                            $('#arrival-date').datepicker({
                                                uiLibrary: 'bootstrap4',
                                                format: 'dd/mm/yyyy',
                                                minDate: new Date()
                                            });
                                        </script>
                                        </div>
                                    </div>
                
                                    <br>

                                    <div class='col-sm-6' >
                                        <div class="input-group date" >
                                            <label class="mr-2" for="departure-date" style="color: #ffc107; font-weight: bold; visibility: hidden;">Dates</label>
                                            <input type="text" class="form-control" placeholder="Departure" id="departure-date" name="departure" required>
                                            <script>
                                            $('#departure-date').datepicker({
                                                uiLibrary: 'bootstrap4',
                                                format: 'dd/mm/yyyy',
                                                minDate: new Date()
                                            });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group fg">
                                <legend style="color: #ffc107; font-size: 1rem; font-weight: bold; padding-top: .375rem;">Budget: </legend>
                                <div class="custom-control custom-radio custom-control-inline my-1 mr-sm-2">
                                    <input type="radio" name="radio-budget" class="custom-control-input" id="radio-budget-no"  value="No" onclick="disableBudgetBox()" checked>
                                    <label class="custom-control-label" for="radioBudgetNo" style="color: white; font-size: 1rem;">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline my-1 mr-sm-2">
                                    <input type="radio" name="radio-budget" class="custom-control-input" id="radio-budget-yes" value="Yes" onclick="enableBudgetBox()">
                                    <label class="custom-control-label" for="radioBudgetYes" style="color: white; font-size: 1rem;">Yes</label>
                                </div>
                                <div class="custom-control custom-control-inline mr-sm-2 float-right">
                                    <input type="text" class="form-control" id="input-budget" name="budget" placeholder="Budget (€)" disabled>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group fg">
                        <legend style="color: #ffc107; font-size: 1rem; font-weight: bold;">How to move: </legend>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="check-move-car" name="move-car">
                            <label class="custom-control-label" for="check-move-car" style="color: white; font-size: 1rem;"><i class="fas fa-car"></i><span style="padding-left: 10px;">Car</span></label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="check-move-foot" name="move-foot">
                            <label class="custom-control-label" for="check-move-foot" style="color: white; font-size: 1rem;"><i class="fas fa-walking"></i><span style="padding-left: 10px;">On foot</span></label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="check-move-public" name="move-public">
                            <label class="custom-control-label" for="check-move-public" style="color: white; font-size: 1rem;"><i class="fas fa-bus"></i><span style="padding-left: 10px;">Public Transportations</span></label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="check-move-bike" name="move-bike">
                            <label class="custom-control-label" for="check-move-bike" style="color: white; font-size: 1rem;"><i class="fas fa-bicycle"></i><span style="padding-left: 10px;">Bicycle</span></label>
                        </div>

                    </div>

                    <button type="button" class="btn btn-interests-down"><i class="fas fa-chevron-down" id="btn-interests-icon"></i><span style="padding-left: 10px;">Interests</span></button>

                    <br><br>

                    <div class="form-group fg form-interests" id="interests-div">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-museums" name="interests-museum">
                                    <label class="custom-control-label" for="checkbox-interests-museums">Museums</label>
                                </div>
                                <br>
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-recreation" name="interests-recreation">
                                    <label class="custom-control-label" for="checkbox-interests-recreation">Recreation</label>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-theaters" name="interests-theaters">
                                    <label class="custom-control-label" for="checkbox-interests-theaters">Theaters</label>
                                </div>
                                <br>
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-nature" name="interests-nature">
                                    <label class="custom-control-label" for="checkbox-interests-nature">Nature Places</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-shopping" name="interests-shopping">
                                    <label class="custom-control-label" for="checkbox-interests-shopping">Shopping</label>
                                </div>
                                <br>
                                <div class="form-group custom-control custom-checkbox" style="color: white;">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-interests-history" name="interests-history">
                                    <label class="custom-control-label" for="checkbox-interests-history">Historic Places</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="float-md-right float-sm-none">
                        <button type="submit" value="submit" class="btn btn-success" style="color: white; font-weight: bold;">Create plan</button>
                    </div>

                    <div class="float-md-left float-sm-none">
                        <a class="btn btn-warning" href="/create-plan">Create your plan manually</a>
                    </div>
                    

                </form>
              </div>
              <div class="col-md-3 col-sm-3"></div>
          </div>

          <br><br>
        </div>



        <div class="container-fluid" style="background-color: #343a40">

            <br><br>

            <hr class="hr-home">
            
            <!-- RECOMMENDED DIV -->

            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Recommended for you</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the destinations that suits you the best</p>
            </div>

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <% recommended_dest.forEach(function(dest) { %>
                        <a href="/places?dest=<%= dest.name %>" class="card-home-link">
                        <div class="col-md col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem;">
                                <img class="card-img-top cities-imgs" src="/img/cities/<%= dest.name.toLowerCase() %>.jpg">
                                <div class="card-body">
                                <h5 class="card-title"><b><%= dest.name %></b></h5>
                                <p class="card-text"><%= dest.plans %> trips planned for <%= dest.name %></p>
                                </div>
                            </div>
                        </div>
                        </a>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <br><br><br>

            <hr class="hr-home">

            <!-- TOP DESTINATIONS DIV -->
            
            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Top Destinations</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the top destinations chosen by our users</p>
            </div>

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <% top_dest.forEach(function(dest) { %>
                        <a href="/places?dest=<%= dest.name %>" class="card-home-link">
                        <div class="col-md col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem;">
                                <img class="card-img-top cities-imgs" src="/img/cities/<%= dest.name.toLowerCase() %>.jpg">
                                <div class="card-body">
                                <h5 class="card-title"><b><%= dest.name %></b></h5>
                                <p class="card-text"><%= dest.plans %> trips planned for <%= dest.name %></p>
                                </div>
                            </div>
                        </div>
                        </a>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

        
            <br><br><br>

        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 400px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <img id="profile-img" class="profile-img-card" src="img/login.png" />
                          <form class="form-signin">
                            <span id="reauth-email"></span>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="custom-control custom-checkbox" id="remember">
                                      <input type="checkbox" class="custom-control-input" id="remember-me">
                                      <label class="custom-control-label" for="remember-me">Remember me</label>
                                  </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="/recover" class="forgot-password">
                                        Forgot the password?
                                    </a>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                                <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                            <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                        
                          </form>
                          
      
                          <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                          </div>
      
                          <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                          <br><br>
                                      
                          <div id="customBtn">
                              <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                          </div>
      
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->


        

  
    <!-- Scripts -->
    <script>startGoogleSignIn();</script>

    

  </body>
</html>