<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Map</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/myscript.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    

  
  </head>
  <body>
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./">HomePage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#dropdown-menu" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Plan a trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Get a Aplicação plan</a>
                        <a class="dropdown-item" href="./create-plan">Create your plan manually</a>
                    </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./search-restaurants"><i class="fas fa-utensils" style="padding-right: 5px;"></i>Restaurants</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                        <a class="dropdown-item" href="./about-us">Aplicacao</a>
                        <a class="dropdown-item" href="./help">Help</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="email " placeholder="Email" aria-label="Email">
                    <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>


        <div class="container-fluid" style="background-image: url('/img/home-image-3.jpg'); background-size: cover;">
          <br><br>
          <div class="row">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-10 col-sm-10  home-search" >
                <br>
                <div class="text-center">
                    <h3 style="color:white;"><b>Let us plan your trip</b></h3>
                </div>
                <br><br>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDestination" style="color: white; font-weight: bold;">Destination</label>
                                <input type="text" class="form-control" id="inputDestination" placeholder="Enter your destination">
                            </div>

                            <br><br>
                            
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="input-group date ">
                                    <input type="text" class="form-control" placeholder="Arrival" id="arrival-date" required>
                                    <script>
                                        $('#arrival-date').datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'dd/mm/yyyy',
                                        });
                                    </script>
                                    </div>
                                </div>
            
                                <br>
                                <div class='col-sm-6' >
                                    <div class="input-group date" >
                                        <input type="text" class="form-control" placeholder="Departure" id="departure-date" required>
                                        <script>
                                        $('#departure-date').datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'dd/mm/yyyy',
                                        });
                                        </script>
                                    </div>
                                </div>
                                    
                            </div>

                            <br>

                            <div class="form-group">
                                <legend style="color: white; font-size: 1rem; font-weight: bold;">Budget: </legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radioBudget" class="custom-control-input" id="radioBudgetNo"  value="option1" onclick="disableBudgetBox()" checked>
                                    <label class="custom-control-label" for="radioBudgetNo" style="color: white; font-size: 1rem;">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radioBudget" class="custom-control-input" id="radioBudgetYes" value="option2" onclick="enableBudgetBox()">
                                    <label class="custom-control-label" for="radioBudgetYes" style="color: white; font-size: 1rem;">Yes</label>
                                </div>
                                <div class="custom-control custom-control-inline float-right mr-sm-2">
                                    <input type="text" class="form-control" id="inputBudget" placeholder="Budget (€)" disabled>
                                </div>
                            </div>


                            <label class="my-1 mr-2" for="moveSelect" style="color: white; font-weight: bold;">How to move</label>
                            <select class="custom-select my-1 mr-sm-2" id="moveSelect">
                                <option selected value="car">Car</option>
                                <option value="foot">On foot</option>
                                <option value="public transports">Public Transports</option>
                                <option value="bike">Bike</option>
                            </select>


                            <br><br>

                            
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="mr-2" for="inlineFormCustomSelectPref" style="color: white; font-weight: bold;">Adults</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref" style="color: white; font-weight: bold;">Children (< 12 years)</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected value="0">Zero</optsion>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>
                                    </select>
                                </div>
                            </div>

                            <br>

                            <label class="my-1 mr-2" for="ageGroupSelect" style="color: white; font-weight: bold;">Age group</label>
                            <select class="custom-select my-1 mr-sm-2" id="ageGroupSelect">
                                <option value="youth">Youth (18-25 years)</option>
                                <option selected value="adult">Adult (25 - 60 years)</option>
                                <option value="senior">Senior (+60 years)</option>
                            </select>


                            <br><br>

                            <div class="text-center">
                                <h5 style="color:white; text-decoration: underline;"><b>Interests</b></h5>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-museums">
                                        <label class="custom-control-label" for="checkbox-interests-museums">Museums</label>
                                    </div>
                                    <br>
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-theaters">
                                        <label class="custom-control-label" for="checkbox-interests-theaters">Theaters</label>
                                    </div>
                                    <br>
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-shopping">
                                        <label class="custom-control-label" for="checkbox-interests-shopping">Shopping</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-recreation">
                                        <label class="custom-control-label" for="checkbox-interests-recreation">Recreation</label>
                                    </div>
                                    <br>
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-nature">
                                        <label class="custom-control-label" for="checkbox-interests-nature">Nature Places</label>
                                    </div>
                                    <br>
                                    <div class="custom-control custom-checkbox" style="color: white;">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-interests-history">
                                        <label class="custom-control-label" for="checkbox-interests-history">Historic Places</label>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                    
                    <br>

                    <div class="float-right">
                        <button type="reset" class="btn btn-warning" onclick="processDestination()" >See your plan</button>
                    </div>

                </form>
              </div>
              <div class="col-md-1 col-sm-1"></div>
          </div>

          <br><br>

        </div>

        <div class="container-fluid cont" style="background-color: #343a40; ">

            <hr class="hr-home">
            
            <!-- RECOMMENDED DIV -->
            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Recommended for you</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the destinations that suits you the best</p>
            </div>
  
            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=Aveiro"><img class="card-img-top cities-imgs" src="/img/cities/aveiro.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">Aveiro</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=Aveiro" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=Porto"><img class="card-img-top cities-imgs" src="/img/cities/porto.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">Porto</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=Porto" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=New York"><img class="card-img-top  cities-imgs" src="/img/cities/new_york.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">New York</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=New York" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                                <a href="/places?dest=Copenhagen"><img class="card-img-top cities-imgs" src="/img/cities/copenhagen.jpg"></a>
                                <div class="card-body">
                                  <h5 class="card-title">Copenhagen</h5>
                                  <p class="card-text"></p>
                                  <a href="/places?dest=Copenhagen" class="btn btn-warning float-right">Find out more</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>
  
            <br><br><br>
  
            <hr class="hr-home">
  
            <!-- TOP DESTINATIONS DIV -->
            
            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Top Destinations</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the top destinations chosen by our users</p>
            </div>
  
            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=Lisbon"><img class="card-img-top cities-imgs" src="/img/cities/lisboa.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">Lisbon</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=Lisbon" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=Paris"><img class="card-img-top cities-imgs" src="/img/cities/paris.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">Paris</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=Paris" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                              <a href="/places?dest=Rome"><img class="card-img-top  cities-imgs" src="/img/cities/rome.jpg"></a>
                              <div class="card-body">
                                <h5 class="card-title">Rome</h5>
                                <p class="card-text"></p>
                                <a href="/places?dest=Rome" class="btn btn-warning float-right">Find out more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md col-sm-12 cont">
                            <div class="card" style="width: 18rem;">
                                <a href="/places?dest=London"><img class="card-img-top cities-imgs" src="/img/cities/london.jpg"></a>
                                <div class="card-body">
                                  <h5 class="card-title">London</h5>
                                  <p class="card-text"></p>
                                  <a href="/places?dest=London" class="btn btn-warning float-right">Find out more</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <br><br><br><br>

        </div>



        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; Aplicacao, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->


        

  
    <!-- Scripts -->
    <script type="text/javascript" src="/js/myscript.js"></script> 

    

  </body>
</html>