<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-tinerary</title>
    <link rel="icon" href="img/logo-icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    

  
  </head>
  <body onload="loadNavbar();" style="background-image: url('/img/home-image.jpg'); background-size: 100%; height: 1100px">
    <!-- header navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-transparent bg-dark justify-content-between">
        <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                </li>
            
            <li class="nav-item">
                <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Cities & Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                    <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                    <a class="dropdown-item header" href="./help">Help</a>
                </div>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <li>
                <div id="login-user">
                <div id="login" style="display: none;">
                    <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                </div>
                <div id="profile" class="dropleft" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="user-profile-pic" class="rounded-circle border border-light">
                    </a>
                    <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                    <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                    <a class="dropdown-item header" href="./trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                    <a class="dropdown-item header" id="request-poi-btn" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                    </div>   
                </div>        
                </div>
            </li>
            </ul>
        </div>
    </nav>

        

    <div class="container-fluid cont" >

        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-8 col-sm-8  search-box" >
            <br>

            <div class="text-center">
                <h2 style="color: #ffc107; font-weight: bold;">Let us plan your trip</h2>
            </div>

            <br><br>

            <form autocomplete="off" id="search-form" action="/create-trip" method="POST" onsubmit="return verify();">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group autocomplete fg">
                            <label class="mr-2" for="inputDestination" style="color: #ffc107; font-weight: bold;">Destination</label>
                            <input type="text" class="form-control" id="inputDestination" name="destination" placeholder="Enter your destination" required>
                            <div class="invalid-feedback" id="invalid-destination" style="display: none; font-weight: bold;">
                                Invalid destination.
                            </div>
                        </div>
                        <script>
                            var cities = "<%= cities %>";
                            var list_cities = cities.split(',');
                            autocomplete(document.getElementById("inputDestination"), list_cities);
                        </script>

                        <div class="form-group fg">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="mr-2" for="select-adults" style="color: #ffc107; font-weight: bold;">Adults</label>
                                    <select class="custom-select mr-sm-2" id="select-adults" name="adults">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    </select>
                                    <div class="invalid-feedback" id="invalid-adults" style="display: none; font-weight: bold;">
                                        Invalid number of adults.
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="my-1 mr-2" for="select-children" style="color:#ffc107; font-weight: bold;">Children <sup id="input-info-popover"><i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Children to 12 years old"></i></sup></label>
                                    <select class="custom-select mr-sm-2" id="select-children" name="children">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    </select>
                                    <div class="invalid-feedback" id="invalid-children" style="display: none; font-weight: bold;">
                                        Invalid number of children.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group fg">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="input-group date ">
                                        <label class="mr-2" for="arrival-date" style="color: #ffc107; font-weight: bold;">Dates</label>
                                        <input type="text" class="form-control" placeholder="Arrival" id="arrival-date" name="arrival_date" required>
                                        <div class="invalid-feedback" id="invalid-arrival-date" style="display: none; font-weight: bold;">
                                            Invalid arrival date.
                                        </div>
                                    </div>
                                </div>
            
                                <br>

                                <div class='col-sm-6' >
                                    <div class="input-group date" >
                                        <label class="mr-2" for="departure-date" style="color: #ffc107; font-weight: bold; visibility: hidden;">Dates</label>
                                        <input type="text" class="form-control" placeholder="Departure" id="departure-date" name="departure_date" required>
                                        <div class="invalid-feedback" id="invalid-departure-date" style="display: none; font-weight: bold;">
                                            Invalid departure date.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group fg">
                            <legend style="color: #ffc107; font-size: 1rem; font-weight: bold; padding-top: .375rem;">Budget: </legend>
                            <div class="custom-control custom-radio custom-control-inline my-1 mr-sm-2">
                                <input type="radio" name="has_budget" class="custom-control-input" id="radio-budget-no"  value="No" onclick="disableBudgetBox()" checked>
                                <label class="custom-control-label" for="radio-budget-no" style="color: white; font-size: 1rem;">No</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline my-1 mr-sm-2">
                                <input type="radio" name="has_budget" class="custom-control-input" id="radio-budget-yes" value="Yes" onclick="enableBudgetBox()">
                                <label class="custom-control-label" for="radio-budget-yes" style="color: white; font-size: 1rem;">Yes</label>
                            </div>
                            <div class="custom-control custom-control-inline mr-sm-2 float-right">
                                <input type="text" class="form-control" id="input-budget" name="budget" placeholder="Budget (€)" disabled>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group fg">
                    <legend style="color: #ffc107; font-size: 1rem; font-weight: bold;">How to move: </legend>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="check-move-car" name="travel_mode" value="driving" checked>
                        <label class="custom-control-label" for="check-move-car" style="color: white; font-size: 1rem;"><i class="fas fa-car"></i><span style="padding-left: 10px;">Car</span></label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="check-move-foot" name="travel_mode" value="walking">
                        <label class="custom-control-label" for="check-move-foot" style="color: white; font-size: 1rem;"><i class="fas fa-walking"></i><span style="padding-left: 10px;">On foot</span></label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="check-move-public" name="travel_mode" value="transit">
                        <label class="custom-control-label" for="check-move-public" style="color: white; font-size: 1rem;"><i class="fas fa-bus"></i><span style="padding-left: 10px;">Public Transportations</span></label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="check-move-bike" name="travel_mode" value="bicycling">
                        <label class="custom-control-label" for="check-move-bike" style="color: white; font-size: 1rem;"><i class="fas fa-bicycle"></i><span style="padding-left: 10px;">Bicycle</span></label>
                    </div>
                </div>

                <button type="button" class="btn btn-interests-down"><i class="fas fa-chevron-down" id="btn-interests-icon"></i><span style="padding-left: 10px;">Interests</span></button>

                <br><br>

                <div class="form-group fg form-interests" id="interests-div">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-culture" name="interests_culture">
                                <label class="custom-control-label" for="checkbox-interests-culture">Culture</label>
                            </div>
                            <br>
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-recreation" name="interests_recreation">
                                <label class="custom-control-label" for="checkbox-interests-recreation">Recreation</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-religion" name="interests_religion">
                                <label class="custom-control-label" for="checkbox-interests-religion">Religious Sites</label>
                            </div>
                            <br>
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-nature" name="interests_nature">
                                <label class="custom-control-label" for="checkbox-interests-nature">Nature Places</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-top-rated" name="interests_top_rated">
                                <label class="custom-control-label" for="checkbox-interests-top-rated">Top-Rated Places</label>
                            </div>
                            <br>
                            <div class="form-group custom-control custom-checkbox" style="color: white;">
                                <input type="checkbox" class="custom-control-input" id="checkbox-interests-history" name="interests_history">
                                <label class="custom-control-label" for="checkbox-interests-history">Historic Places</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="float-md-right float-sm-none">
                    <button type="submit" value="submit" class="btn btn-success" style="color: white; font-weight: bold;">Create trip</button>
                </div>

                <div class="float-md-left float-sm-none">
                    <a class="btn btn-warning" href="/create-trip">Create your trip manually</a>
                </div>
                

            </form>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>

        <br><br>
    </div>



        <div class="container-fluid" style="background-color: #343a40">

            <br><br>

            <hr class="hr-home">
            
            <!-- RECOMMENDED DIV -->

            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Recommended for you</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the destinations that suits you the best</p>
            </div>

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <% count = 0 %>
                        <% recommended_dest.forEach(function(dest) { %>
                        <a href="/city?name=<%= dest.name %>" class="card-home-link">
                        <div class="col-md col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem;">
                                <% if(dest.photo == null) { %>
                                    <img class="card-img-top cities-imgs" id="recommended-city-img-<%= count %>">
                                <% } else { %>
                                    <img class="card-img-top cities-imgs" id="recommended-city-img-<%= count %>" src="<%= dest.photo %>">
                                <% } %>
                                <div class="card-body">
                                <h5 class="card-title"><b><%= dest.name %></b></h5>
                                <% if(dest.trips == 1) { %>
                                    <p class="card-text" style="padding-top: 10px;"><%= dest.trips %> trip planned for <strong><%= dest.name %></strong></p>
                                <% } else { %>
                                    <p class="card-text" style="padding-top: 10px;"><%= dest.trips %> trips planned for <strong><%= dest.name %></strong></p>
                                <% } %>
                                </div>
                            </div>
                        </div>
                        </a>
                        <script>
                            loadPlaceImage("recommended-city-img-<%= count %>", '<%= dest.place_id %>');
                        </script> 
                        <% count = count + 1 %>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <br><br><br>

            <hr class="hr-home">

            <!-- TOP DESTINATIONS DIV -->
            
            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Top Destinations</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Discover the top destinations chosen by our users</p>
            </div>

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <br>
                    <div class="row">
                        <% count = 0 %>
                        <% top_dest.forEach(function(dest) { %>
                        <a href="/city?name=<%= dest.name %>" class="card-home-link">
                        <div class="col-md col-sm-12 cont">
                            <div class="card card-home" style="width: 18rem;">
                                <% if(dest.photo == null) { %>
                                    <img class="card-img-top cities-imgs" id="top-city-img-<%= count %>">
                                <% } else { %>
                                    <img class="card-img-top cities-imgs" id="top-city-img-<%= count %>" src="<%= dest.photo %>">
                                <% } %>
                                <div class="card-body">
                                <h5 class="card-title"><b><%= dest.name %></b></h5>
                                <% if(dest.trips == 1) { %>
                                    <p class="card-text" style="padding-top: 10px;"><%= dest.trips %> trip planned for <strong><%= dest.name %></strong></p>
                                <% } else { %>
                                    <p class="card-text" style="padding-top: 10px;"><%= dest.trips %> trips planned for <strong><%= dest.name %></strong></p>
                                <% } %>
                                </div>
                            </div>
                        </div>
                        </a>
                        <script>
                            loadPlaceImage("top-city-img-<%= count %>", '<%= dest.place_id %>');
                        </script> 
                        <% count = count + 1 %>
                        <% }); %>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

        
            <br><br><br>

        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 400px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-danger" id="need-login-error" role="alert" style="display: none;">
                        <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">You need to be logged in to do this action.</span>
                      </div>
  
                      <img id="profile-img" class="profile-img-card" src="img/login.png" />
                      <form class="form-signin">
                        <span id="reauth-email"></span>
  
                        <div class="alert alert-danger" id="login-error" role="alert" style="display: none;">
                            <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">The email or password is incorrect</span>
                        </div>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="custom-control custom-checkbox" id="remember">
                                  <input type="checkbox" class="custom-control-input" id="remember-me">
                                  <label class="custom-control-label" for="remember-me">Remember me</label>
                              </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/recover" class="forgot-password">
                                    Forgot the password?
                                </a>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                            <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                        <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                    
                      </form>
                      
  
                      <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                      </div>
  
                      <div class="fb-login-button" data-width="366" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                      <!--<button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>-->
                      <br><br>
                                  
                      <div id="customBtn">
                          <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                      </div>
  
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
      <footer class="footer">
        <!-- Footer Elements -->
        <div class="container cont">
          <div class="row">
            <div class="col-md-4">
                <img src="img/logo-2.png">
                <br><br>
                <p><a class="footer-links" href="/about-us">About us</a></p>
                <p><a class="footer-links" href="/help">Help</a></p>
                <br><br>
            </div>
            <div class="col-md-4">
              <br>
              <h5><strong>Contacts</strong></h5>
              <p class="footer-text"><i class="fas fa-map-marker-alt"></i><span style="padding-left: 10px;">Universidade de Aveiro, Portugal</span></p>
              <p class="footer-text"><i class="fas fa-envelope"></i><span style="padding-left: 10px;">etinerary@gmail.com</span></p>
              <p class="footer-text"><i class="fas fa-phone"></i><span style="padding-left: 10px;">234 234 234</span></p>
            </div>
            <div class="col-md-4">
                <br>
                <h5><strong>Social Media</strong></h5>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#" ></a>
                    <a class="twitterBtn smGlobalBtn" href="#" ></a>
                    <a class="instagramBtn smGlobalBtn" href="#" ></a>
                </div>
            </div>

          </div>
          <br><br>
        </div>

          <!-- Footer Elements -->
      
          <!-- Copyright -->
          <div class="footer-copyright">
            <span class="footer-text">&copy;2019 </span><a class="footer-links" href="/">E-tinerary&trade;</a><span class="footer-text">. All rights reserved</span>
          </div>

      </footer>
      <!-- Footer -->


        

  
    <!-- Scripts -->
    <script>startGoogleSignIn();</script>

    

  </body>
</html>