<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-tinerary</title>
    <link rel="icon" href="img/logo-icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAExpmRjci35grh-wAwFxK75c0fV4OHOxw&libraries=places"></script>
    
    <script type="text/javascript" src="js/trips.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  </head>
  <body onload="loadNavbar();">
        <!-- header navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="./"><img src="img/logo-2.png" style="height: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link header" href="./search"><i class="fas fa-search" style="padding-right: 5px;"></i>Plan a trip</a>
                  </li>
                
                <li class="nav-item">
                  <a class="nav-link header" href="./search-places"><i class="fas fa-monument" style="padding-right: 5px;"></i>Places</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link header" href="./search-hotels"><i class="fas fa-bed" style="padding-right: 5px;"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header" href="./discover"><i class="fas fa-globe-europe" style="padding-right: 5px;"></i>Discover</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link header dropdown-toggle" href="#aboutus-menu" id="aboutUsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info-circle" style="padding-right: 5px;"></i>About us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutUsDropdownMenuLink">
                      <a class="dropdown-item header" href="./about-us">Aplicacao</a>
                      <a class="dropdown-item header" href="./help">Help</a>
                    </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                  <div id="login-user">
                    <div id="login" style="display: none;">
                      <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login-modal">Login</button>
                    </div>
                    <div id="profile" class="dropleft" style="display: none;">
                      <a class="nav-link dropdown-toggle" href="#profile-menu" id="profile-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img id="user-profile-pic" class="rounded-circle border border-light">
                      </a>
                      <div class="dropdown-menu" id="profile-menu" aria-labelledby="profile-btn">
                        <a class="dropdown-item header" href="./profile"><i class="fas fa-user"></i><span style="padding-left: 10px;">Profile</span></a>
                        <a class="dropdown-item header" href="./trips"><i class="fas fa-plane"></i><span style="padding-left: 10px;">My trips</span></a>
                        <a class="dropdown-item header" href="./request-poi"><i class="fas fa-monument"></i><span style="padding-left: 10px;">Submit POI<sup style="color: #ffc107"><i style="padding-left: 5px;" class="fas fa-star"></i></sup></span></span></a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item header" onclick="signOut();"><i class="fas fa-sign-out-alt"></i><span style="padding-left: 10px;">Sign out</span></button>
                      </div>   
                    </div>        
                  </div>
                </li>
              </ul>
            </div>
        </nav>


        <div class="container" style="min-height: 100%">
            <div class="cont">
                <div class="card card-body bg-light">
                    <div class="text-left">
                        <h3><b>My Trips</b></h3>
                        

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="trips-div active" id="development-trips">

                        <div class="cont">
                            <div class="card card-body">
                                <h5 style="font-weight: bold;">Trips Under Development</h5>
                            </div>
                        </div>
        
                        <br>
        
                        <% count = 0 %>
                        <% development_trips.forEach(function(trip) { %>
                        <div class="card" style="height: 150px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img id="devel-trip-<%= count %>-img" class="img-fluid card-img" alt="" style="height: 148px; width: 100%;">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body row">
                                        <div class="col-md-7">
                                            <div class="text-left">
                                                <a href="/trip-m?id=<%= trip.id %>" class="trip-link"><span class="card-title"><b><%= trip.name %></b></span></a>
                                                <button type="button" class="plan-table-btn-icons btn-rename-modal" data-toggle="modal" data-target="#rename-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Rename the trip" class="fas fa-pen fa-lg" style="padding-left: 10px;"></i></button>
                                                <br>
                                                <span class="text-bottom"><%= trip.start %> - <%= trip.end %></span> 
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <span id="devel-trip-<%= count %>-time-left"></span>
                                            <div class="plan-table-icons text-right"> 
                                                <a class="plan-table-btn-icons" href="/trip-m?id=<%= trip.id %>"><i title="See trip" class="fas fa-search-location"></i></i></a>
                                                <button type="button" class="plan-table-btn-icons btn-remove-modal" data-toggle="modal" data-target="#remove-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Delete trip" class="fas fa-trash fa-lg" style="padding-left: 10px;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <br>

                        <script>
                            var city = "<%= trip.city %>";
                            getCityImage(city, "devel-trip-<%= count %>-img" , "<%= trip.photo %>");
                            setExperationTimeText("<%= trip.expiration_time %>", "devel-trip-<%= count %>-time-left", "<%= trip.id %>");
                        </script>

                        <% count = count + 1 %>
                        <% }); %> 
                    </div>

                    <div class="trips-div active" id="scheduled-trips">

                        <div class="cont">
                            <div class="card card-body">
                                <h5 style="font-weight: bold;">Scheduled Trips</h5>
                            </div>
                        </div>

                        <br>

                        <% count = 0 %>
                        <% scheduled_trips.forEach(function(trip) { %>
                        <div class="card" style="height: 150px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img id="sched-trip-<%= count %>-img" class="img-fluid card-img" alt="" style="height: 148px; width: 100%;">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body row">
                                        <div class="col-md-8">
                                            <div class="text-left">
                                                <a href="/trip?id=<%= trip.id %>" class="trip-link"><span class="card-title"><b><%= trip.name %></b></span></a>
                                                <button type="button" class="plan-table-btn-icons btn-rename-modal" data-toggle="modal" data-target="#rename-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Rename the trip" class="fas fa-pen fa-lg" style="padding-left: 10px;"></i></button>
                                                <br>
                                                <span class="text-bottom"><%= trip.start %> - <%= trip.end %></span> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="plan-table-icons text-right"> 
                                                <a class="plan-table-btn-icons" href="/trip?id=<%= trip.id %>"><i title="See trip" class="fas fa-search-location"></i></i></a>
                                                <button type="button" class="plan-table-btn-icons" disabled><i title="Download itinerary" class="fas fa-file-download fa-lg" style="padding-left: 10px;"></i></button>
                                                <% if(trip.isPublic == 0) { %>
                                                    <button type="button" class="plan-table-btn-icons btn-share-modal" data-toggle="modal" data-target="#share-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>" data-src="scheduled"><i title="Share trip" class="fas fa-share-alt fa-lg" style="padding-left: 10px;"></i></button>
                                                <% } else { %>
                                                    <i title="Plan is public" class="fas fa-eye fa-lg" style="padding-left: 10px; color: #4dd658"></i>                              
                                                <% } %>
                                                <button type="button" class="plan-table-btn-icons btn-remove-modal" data-toggle="modal" data-target="#remove-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Delete trip" class="fas fa-trash fa-lg" style="padding-left: 10px;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <script>
                            var city = "<%= trip.city %>";
                            getCityImage(city, "sched-trip-<%= count %>-img" , "<%= trip.photo %>");
                        </script>

                        <% count = count + 1 %>
                        
                        <% }); %> 
                    </div>


                    <div class="trips-div" id="interested-trips">

                        <div class="cont">
                            <div class="card card-body">
                                <h5 style="font-weight: bold;">Trips that I'm interested in</h5>
                            </div>
                        </div>

                        <br>

                        <% count = 0 %>
                        <% interested_trips.forEach(function(trip) { %>

                        <div class="card" style="height: 150px;">
                            <div class="row">
                                <div class="col-md-3 col-5">
                                    <img id="interested-trip-<%= count %>-img" class="img-fluid card-img" alt="" style="height: 148px; width: 100%;">
                                </div>
                                <div class="col-md-9 col-7">
                                    <div class="card-body row">
                                        <div class="col-md-8 col-12">
                                            <div class="text-left">
                                                <a href="/trip?id=<%= trip.id %>" class="trip-link"><span class="card-title"><b><%= trip.name %></b></span></a>
                                                <% if(trip.isPremium == 1) { %>
                                                    <p class="card-text" style="overflow:unset"><i style="color: #ffd700" class="fas fa-star"></i><small class="text-muted" style="font-weight: 0.6; padding-left: 5px">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                                <% } else { %>
                                                    <p class="card-text" style="overflow:unset"><small class="text-muted" style="font-weight: 0.6;">Created by <b><%= trip.author %></b> on <%= trip.creation_date %></small></p>
                                                <% } %>
                                                <br>
                                                <span class="text-bottom"><%= trip.start %> - <%= trip.end %></span> 
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="favorite-trip-div">

                                            <div class="plan-table-icons text-right"> 
                                                <a class="plan-table-btn-icons" href="/trip?id=<%= trip.id %>"><i title="See trip" class="fas fa-search-location"></i></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <br>

                        <script>
                            var city = "<%= trip.city %>";
                            getCityImage(city, "interested-trip-<%= count %>-img" , "<%= trip.photo %>");
                        </script>

                        <% count = count + 1 %>
                        
                        <% }); %> 
    
                    </div>

                    <div class="trips-div" id="past-trips">

                        <div class="cont">
                            <div class="card card-body">
                                <h5 style="font-weight: bold;">Past Trips</h5>
                            </div>
                        </div>

                        <br>

                        <% count = 0 %>
                        <% past_trips.forEach(function(trip) { %>

                        <div class="card" style="height: 150px;">
                            <div class="row">
                                <div class="col-md-3 col-5">
                                    <img id="past-trip-<%= count %>-img" class="img-fluid card-img" alt="" style="height: 148px; width: 100%;">
                                </div>
                                <div class="col-md-9 col-7">
                                    <div class="card-body row">
                                        <div class="col-md-8 col-12">
                                            <div class="text-left">
                                                <a href="/trip?id=<%= trip.id %>" class="trip-link"><span class="card-title"><b><%= trip.name %></b></span></a>
                                                <button type="button" class="plan-table-btn-icons btn-rename-modal" data-toggle="modal" data-target="#rename-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Rename the trip" class="fas fa-pen fa-lg" style="padding-left: 10px;"></i></button>
                                                <br>
                                                <span class="text-bottom"><%= trip.start %> - <%= trip.end %></span> 
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="favorite-trip-div">
                                            <% if(trip.isFavorite == 1) { %>
                                                <div class="text-right" style="color: #ffc107; font-size: 18px;">
                                                    <span style="padding-right: 10px;">Favorite Trip</span><button type="button" id="unfavorite-<%= count %>" class="plan-table-btn-icons unfavorite-btn" onclick="unfavoriteTrip('<%= trip.id %>');"><i title="Unfavorite" id="unfavorite-<%= count %>-icon" class="fas fa-star fa-lg" style="padding-left: 10px;"></i></button>
                                                </div>
                                            <% } else { %>
                                                <div class="text-right">
                                                    <button type="button" id="make-favorite-<%= count %>" class="plan-table-btn-icons make-favorite-btn" onclick="makeTripFavorite('<%= trip.id %>');"><i title="Favorite" id="make-favorite-<%= count %>-icon" class="far fa-star fa-lg" style="padding-left: 10px;"></i></button>
                                                </div>
                                            <% } %>

                                            
                                            <div class="plan-table-icons text-right"> 
                                                <a class="plan-table-btn-icons" href="/trip?id=<%= trip.id %>"><i title="See trip" class="fas fa-search-location"></i></i></a>
                                                <button type="button" class="plan-table-btn-icons" disabled><i title="Download itinerary" class="fas fa-file-download fa-lg" style="padding-left: 10px;"></i></button>
                                                <% if(trip.isPublic == 0) { %>
                                                <button type="button" class="plan-table-btn-icons btn-share-modal" data-toggle="modal" data-target="#share-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>" data-src="past"><i title="Share trip" class="fas fa-share-alt fa-lg" style="padding-left: 10px;"></i></button>
                                                <% } else { %>
                                                <i title="Plan is public" class="fas fa-eye fa-lg" style="padding-left: 10px; color: #4dd658"></i>                              
                                                <% } %>

                                                <button type="button" class="plan-table-btn-icons btn-archive-modal" data-toggle="modal" data-target="#archive-modal" data-name="<%= trip.name %>" data-id="<%= trip.id %>"><i title="Archive trip" class="fas fa-archive fa-lg" style="padding-left: 10px;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <br>

                        <script>
                            var city = "<%= trip.city %>";
                            getCityImage(city, "past-trip-<%= count %>-img" , "<%= trip.photo %>");
                        </script>

                        <% count = count + 1 %>
                        
                        <% }); %> 

                    </div>

                </div>

                <div class="col-md-3">
                    <div class="cont">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><b>Filter</b></h5>
                                <br>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Trips Under Development" id="development-trips-checkbox" checked>
                                        <label class="custom-control-label" for="development-trips-checkbox">Trips Under Development</label>                    
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Scheduled Trips" id="scheduled-trips-checkbox" checked>
                                        <label class="custom-control-label" for="scheduled-trips-checkbox">Scheduled Trips</label>                    
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Trips that I'm interested in" id="interested-trips-checkbox" checked>
                                        <label class="custom-control-label" for="interested-trips-checkbox">Trips that I'm interested in</label>                    
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Past Trips" id="past-trips-checkbox" checked>
                                        <label class="custom-control-label" for="past-trips-checkbox">Past Trips</label>                    
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Favorite Trips" id="favorite-trips-checkbox" checked>
                                        <label class="custom-control-label" for="favorite-trips-checkbox">Favorite Trips</label>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <br><br><br>


        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content" style="width: 400px;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <img id="profile-img" class="profile-img-card" src="img/login.png" />
                    <form class="form-signin">
                      <span id="reauth-email"></span>
                      <div class="alert alert-danger" id="login-error" role="alert" style="display: none;">
                          <i class="fas fa-times-circle"></i><span style="padding-left: 10px;">The email or password is incorrect</span>
                      </div>
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox" id="remember">
                                <input type="checkbox" class="custom-control-input" id="remember-me">
                                <label class="custom-control-label" for="remember-me">Remember me</label>
                            </div>
                          </div>
                          <div class="col-md-6 text-right">
                              <a href="/recover" class="forgot-password">
                                  Forgot the password?
                              </a>
                          </div>
                      </div>
                      <br>
                      <button class="btn btn-success" type="button" onclick="login();"><i class="fas fa-sign-in-alt"></i><span style="padding-left: 10px">Sign in</span></button>
                          <!--<button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i><span style="padding-left: 10px">Register</span></button>-->
                      <span>Don't have an account yet? <a href="/register" class="forgot-password">Register now</a></span>
                  
                    </form>
                    

                    <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">or</span>
                    </div>

                    <button class="btn btn-primary btn-facebook" type="submit"><i class="fab fa-facebook-f fa-lg"></i><span style="padding-left: 10px">Log in using Facebook</span></button>
                    <br><br>
                                
                    <div id="customBtn">
                        <button class="btn btn-google" type="submit" ><img id="google-signin-icon" src="img/google-icon.png"><span style="padding-left: 10px">Log in using Google</span></button>
                    </div>

                  </div>
                  <div class="modal-footer">
                  </div>
              </div>
          </div>
        </div>

        <!-- Remove Modal -->
        <div class="modal fade" id="remove-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete trip: <span id="modal-delete-trip-title"></span></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Are you sure that you want to delete your trip <span id="modal-delete-trip-name" style="font-weight: bold;"></span> ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-success" id="confirm-remove-btn"><i class="fas fa-trash-alt"></i><span style="padding-left: 10px;">Yes</span></button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">No</span></button>
                  </div>
              </div>
          </div>
        </div>


        <!-- Rename Modal -->
        <div class="modal fade" id="rename-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Rename trip: <span id="modal-rename-trip-title"></span></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                        <div id="rename-error" class="alert alert-danger" role="alert" style="display: none;">
                        </div>

                      <label for="inputName">Enter a name for the trip</label>
                      <input type="text" id="inputName" class="form-control" required>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                      <button type="button" class="btn btn-success" id="confirm-rename-btn"><i class="fas fa-check"></i><span style="padding-left: 10px;">Rename</span></button>
                  </div>
              </div>
          </div>
        </div>


        <!-- Share Modal -->
        <div class="modal fade" id="share-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Share <span id="share-modal-title" style="font-weight: bold;"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="share-trip-form" action="/share-trip" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">

                            <nav class="nav nav-pills flex-column flex-sm-row">
                                <a class="flex-sm-fill text-sm-center nav-link tab active" id="pills-general-info-tab" data-toggle="pill" href="#" role="tab" aria-controls="share-trip-general-info" aria-selected="true">General Information</a>
                                <a class="flex-sm-fill text-sm-center nav-link tab" id="pills-more-info-tab" data-toggle="pill" href="#" role="tab" aria-controls="share-trip-more-info" aria-selected="false">Help us improve</a>
                            </nav>

                            <br>

                            <div class="alert alert-warning" id="are-you-sure-share-msg" role="alert">
                                <i class="fas fa-exclamation-triangle"></i><span style="padding-left: 10px;">Are you sure that you want to share <span id="are-you-sure-plan-name" style="font-weight: bold;"></span> ?</span>
                                <p>After the trip is shared, you will not be able to make changes on it.</p>
                            </div>

                            <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="share-modal-general-info" role="tabpanel" aria-labelledby="pills-general-info-tab">
    
                                <label for="inputDescription">Enter a description for your trip:</label>
                                <textarea type="text" id="inputDescription" class="form-control" name="description" required></textarea>

                                <br>
                                
                                <input type="text" id="share-modal-trip-id" name="trip" style="display: none;" >
                                
                                <br>

                                <label>Rate your trip:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-star5" name="rating" value="5" /><label for="share-rating-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-star4" name="rating" value="4" /><label for="share-rating-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-star3" name="rating" value="3" /><label for="share-rating-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-star2" name="rating" value="2" /><label for="share-rating-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-star1" name="rating" value="1" /><label for="share-rating-star1" title="1 star">1</label>
                                </div>

                                <br>
        
                                <label for="trip-picture">Submit a picture for your trip:</label>

                                <div class="input-photo-container">  
                                    <input class="input-photo" id="my-file" type="file" accept="image/*" name="photo" >
                                    <label tabindex="0" for="my-file" class="input-photo-trigger"><i class="fas fa-camera"></i><span style="padding-left: 10px;">Upload photo</span></span></label>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="file-return"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="share-modal-more-info" role="tabpanel" aria-labelledby="pills-more-info-tab">

                                <label>Accessibility:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-access-star5" name="accessibility" value="5" /><label for="share-rating-access-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-access-star4" name="accessibility" value="4" /><label for="share-rating-access-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-access-star3" name="accessibility" value="3" /><label for="share-rating-access-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-access-star2" name="accessibility" value="2" /><label for="share-rating-access-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-access-star1" name="accessibility" value="1" /><label for="share-rating-access-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Security:</label>
                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-security-star5" name="security" value="5" /><label for="share-rating-security-star5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-security-star4" name="security" value="4" /><label for="share-rating-security-star4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-security-star3" name="security" value="3" /><label for="share-rating-security-star3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-security-star2" name="security" value="2" /><label for="share-rating-security-star2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-security-star1" name="security" value="1" /><label for="share-rating-security-star1" title="1 star">1</label>
                                </div>

                                <br>

                                <label>Price:</label>
                                <div class="pricerating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="share-rating-price5" name="price-rating" value="5" /><label for="share-rating-price5" title="5 star">5</label>
                                    <input type="radio" id="share-rating-price4" name="price-rating" value="4" /><label for="share-rating-price4" title="4 star">4</label>
                                    <input type="radio" id="share-rating-price3" name="price-rating" value="3" /><label for="share-rating-price3" title="3 star">3</label>
                                    <input type="radio" id="share-rating-price2" name="price-rating" value="2" /><label for="share-rating-price2" title="2 star">2</label>
                                    <input type="radio" id="share-rating-price1" name="price-rating" value="1" /><label for="share-rating-price1" title="1 star">1</label>
                                </div>

                            </div>
                        </div>
                            
    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">Cancel</span></button>
                            <button type="button" onclick="changeReviewPage();" class="btn btn-success" id="change-review-page-btn"><i class="far fa-arrow-alt-circle-right"></i><span style="padding-left: 10px;">Next</span></button>     
                            <button type="button" onclick="returnReviewPage();" class="btn btn-warning" id="return-review-page-btn" style="display: none; color: white;"><i class="far fa-arrow-alt-circle-left"></i><span style="padding-left: 10px;">Back</span></button>
                            <button type="submit" value="upload" id="submit-share-trip-btn" class="btn btn-success" style="display: none;"><i class="fas fa-check"></i><span style="padding-left: 10px;">Share</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Archive Modal -->
        <div class="modal fade" id="archive-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure that you want to archive <span id="archive-modal-title"></span> ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i><span style="padding-left: 10px;">No</span></button>
                        <button type="button" class="btn btn-success" id="confirm-archive-btn"><i class="fas fa-check"></i><span style="padding-left: 10px;">Yes</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
          <!-- Footer Elements -->

          <div id="social">
              <a class="facebookBtn smGlobalBtn" href="#" ></a>
              <a class="twitterBtn smGlobalBtn" href="#" ></a>
              <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              <a class="instagramBtn smGlobalBtn" href="#" ></a>
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright"> 2019 Copyright:
              <a href="">&copy; E-tinerary, todos os direitos reservados</a>
            </div>

        </footer>
        <!-- Footer -->


  
    <!-- Scripts -->
    <script type="text/javascript" src="js/upload_photos.js"></script>
    <script>startGoogleSignIn();</script>
    

  </body>
</html>